h1 {
    font-size: 2rem;
    font-family: Arial;
    font-weight: bold;
    margin: 0 auto 3% auto;
    color: white;
    background-color: blue;
    width: max-content;
    padding: 1%;
}
form {
    text-align: center;
    margin-bottom: 2%;
}
input,
select {
    margin-bottom: 2%;
}
label {
    margin-right: 2%;
    font-family: Arial;
    font-weight: bold;
}
#blog_content {
    margin-left: 3.8%;
    margin-bottom: 2%;
}
label[for="blog_content"] {
    position: absolute;
    top: 34.5%;
    left: 39.2%;
}
.btn-edit {
    background-color: lightblue;
    color: black;
    padding: 1%;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    font-family: Arial;
    border: 1px solid blue;
    transition-property: background-color, color;
    transition-duration: 0.3s;
}
.btn-edit:hover {
    color: white;
    background-color: blue;
}
a {
    display: block;
    text-align: center;
    padding: 1%;
    text-decoration: none;
    color: white;
    background-color: #222222;
    border: 1px solid orangered;
    width: max-content;
    margin: 0 auto 2% auto;
    font-weight: bold;
    font-size: 1rem;
    font-family: Arial;
}
a:hover {
    background-color: orangered;
}
.btn-delete {
    background-color: red;
    color: white;
    padding: 1%;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    font-family: Arial;
    border: 1px solid black;
    transition-property: background-color, color;
    transition-duration: 0.3s;
}
.btn-delete:hover {
    color: yellow;
    background-color: black;
}
