{% extends 'base.html.twig' %}

{% block title %}Édition des utilisateurs{% endblock %}

{% block body %}
    <h1>Édition d'un utilisateur</h1>

    {{ include('admin_login/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('admin_login_index') }}">Retour à la liste</a>

    {{ include('admin_login/_delete_form.html.twig') }}
{% endblock %}
