{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <h1>Vous avez oublié votre mot de passe ?</h1>
    <p>Entrez votre adresse email. Si votre compte existe, vous recevrez un email qui vous permettra de réinitialiser votre mot de passe.</p>

    <form method="POST">

        <input type="email" name="email">
        <button type="submit">Envoyer</button>
        <div>{{ messageConfirmation ?? "" }}</div>

        {% if messageConfirmation %}
    <script>
        function redirect() {
            window.setTimeout(function(){
        window.location.href = "http://127.0.0.1:8000/"
    }, 3000)
        }
        document.querySelector("form").addEventListener("submit", redirect());
    </script>
    {% endif %}
        
        {# <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> #}
        
    </form>
{% endblock %}
