{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
{% block header %}{% endblock header %}
{% block dashboard %}{% endblock dashboard %}


<div class="container">
    <main role="main" class="col">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2 h2-swann">Vous avez oublié votre mot de passe ?</h1>
</div>
        <p>Entrez votre adresse email. Si votre compte existe, vous recevrez un email qui vous permettra de réinitialiser votre mot de passe.</p>
    <form method="POST">

        <input type="email" name="email">
        <button class="btn btn-primary" type="submit">Envoyer</button>
        <div>{{ messageConfirmation ?? "" }}</div>

        {% if messageConfirmation %}
    <script>
        function redirect() {
            window.setTimeout(function(){
        window.location.href = "http://127.0.0.1:8000/"
    }, 3000)
        }
        document.querySelector("form").addEventListener("submit", redirect());
    </script>
    {% endif %}
        
        {# <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> #}
        
    </form>

            </main>
</div> {# end container-fluid #}
{% endblock %}
