{% extends 'front-base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Créez votre compte</h1>

    <p>Thank you for your payment. Your transaction has been completed, and a receipt for your purchase has been emailed to you. Log into your PayPal account to view transaction details.</p>

    {{ include('admin_login/_form.html.twig') }} 
    <p>Vous pourrez accéder à votre espace membre après l'activation de votre compte. Veuillez consulter vos emails.</p>

    {# <a href="{{ path('admin_login_index') }}">back to list</a> #}
{% endblock %}
