{% extends 'base.html.twig' %}

{% block title %}New AdminLogin{% endblock %}

{% block body %}
    <h1>Create new AdminLogin</h1>

    {{ include('admin_login/_form.html.twig') }}

    <a href="{{ path('admin_login_index') }}">back to list</a>
{% endblock %}
