{% extends 'base.html.twig' %}

{% block title %}Paiement confirmé{% endblock %}

{% block body %}
{% block header %}{% endblock header %}
{% block dashboard %}{% endblock dashboard %}
<div class="container">
    <main role="main" class="col">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
            <h1 class="h2 h2-swann">Confirmation de paiement</h1>
        </div>

        <p>Votre paiement a bien été enregistré.</p>
        <p>Vous allez être redirigé vers la page de création du compte d'accès à l'espace membre.</p>

    </main>
</div> {# end container-fluid #}
<script>
    window.setTimeout(function(){
        window.location.href = "http://127.0.0.1:8000/signup/";
        }, 5000);
</script>
{% endblock %}