{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <h1>Formulaire de création d'un nouveau mot de passe.</h1>
    
    <form method="POST">
    
        <label for="password">Nouveau mot de passe</label>
        <input type="password" name="password">
        <input type="hidden" name="token" value="{token}">

        <button type="submit">Envoyer</button>
        
        {# <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> #}
        
    </form>
{% endblock %}
