:root {
  --white: #fff;
}

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  background: var(--white) no-repeat;
}
/*****
Login
*****/
.form-login {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
  background: var(--white);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 29%;
  height: 40%;
}
