html {
  font-size: 14px;
}
@media screen and (min-width: 380px) {
  html {
    font-size: calc(12px + 6 * ((100vw - 320px) / 680));
  }

  .header__menu__item {
    font-size: calc(8px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 16px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 40px;
  }
  .header__menu__item {
    font-size: 12px;
  }
}

:root {
  --white: #fff;
  --darkblue: #2ec0f9;
  --softblue: #6cd2fa;
  --lightblue: #88dbfb;
  --black: #0e1111;
  --darkgrey: #666;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: var(--darkgrey);
}

/*-----------------------------
general
-----------------------------*/
.nav-logout {
  font-weight: 700;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  margin: 0.5rem 0;
}

.animate {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.button {
  margin: 1.2rem auto 0;
  background-color: var(--darkblue);
  padding: 0.5rem 1rem;
  color: var(--white);
  cursor: pointer;
}
.btn-outline {
  border: 1px solid var(--darkblue);
  padding: 0.6rem 1rem;
  color: var(--darkgrey);
  font-weight: 700;
}

.btn-outline:hover {
  background-color: var(--darkblue);
  color: var(--white);
}

.buttonflex {
  width: 200px;
  text-align: center;
  flex: 0 1 auto;
  margin-left: auto;
  margin-right: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin: 0;
}
h5 {
  border-bottom: 2px solid var(--darkblue);
  display: inline-block;
}
h2 {
  border-bottom: 3px solid var(--darkblue);
  display: inline;
}
button {
  border: none;
}
img {
  min-width: 100%;
  max-width: 100%;
  height: auto;
}
p {
  line-height: 24px;
  font-weight: 300;
  margin: 1rem 0;
}
a {
  color: var(--white);
  text-decoration: none;
}
.w100 {
  flex: 1 1 100%;
}

.subtitle {
  margin-bottom: 3rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
.flexitem-auto {
  flex: 1 1 auto;
}
/* .title-section {
  margin-bottom: 1rem;
} */
.flex-center,
.flex-start {
  width: 1024px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  max-width: 90%;
}
.flex-start {
  align-items: flex-start;
}

.container-center {
  width: 1080px;
  margin: 0 auto;
  max-width: 90%;
}
.cflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.mtb {
  margin: 5rem 0px;
}

/*-----------------------------
header
-----------------------------*/
.header {
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  text-transform: uppercase;
  box-shadow: var(--shadow);
  overflow: auto;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__logo {
  color: var(--white);
  display: block;
  text-decoration: none;
  width: 100px;
  float: left;
  padding: 0.75rem 0.5rem;
}
.header__logo__img {
  max-width: 100%;
  height: auto;
}
.header__menu {
  margin: 0;
  padding: 0;
  text-align: right;
  flex: 1;
}
.header__menu__item {
  padding: 0.75rem 0.5rem;
  margin: 0 0.1rem;
  text-decoration: none;
  color: var(--darkgrey);
  text-align: center;
  display: inline-block;
}
.header__menu__item:hover {
  outline: 1px solid var(--darkblue);
}
.header__menu__item a {
  display: block;
  text-decoration: none;
}

.header__icon-bar {
  display: block;
  float: right;
  padding: 20px;
  display: none;
}
.header__icon-bar span {
  display: block;
  height: 3px;
  width: 30px;
  background: var(--darkblue);
  margin-bottom: 5px;
}
/*-----------------------------
Cover
-----------------------------*/
.cover {
  height: 90vh;
  position: relative;
  display: flex;
  clear: both;
}
.cover-left {
  background-image: url("/assets/img/cover1.jpg");
  background-position: 54% 12%;
  height: 100%;
  width: 50%;
  position: relative;
}
.cover-right {
  width: 50%;
  background-color: var(--darkblue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cover__caption h1 {
  border-bottom: 4px solid var(--white);
  /* font-size: 2rem; */
  display: inline-block;
  margin-bottom: 1rem;
}

.cover__caption {
  width: 66%;
  min-width: 50%;
  color: var(--white);
}

.cover--single {
  height: 50vh;
}

/*-----------------------------
About
-----------------------------*/
.about {
  display: flex;
  margin: 5rem 0px;
}
.about__left,
.about__right {
  width: 50%;
}
.about__left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.about__left__figure::before {
  content: " ";
  background-color: var(--softblue);
  width: 50%;
  height: 86%;
  position: absolute;
  top: 7%;
  display: block;
  z-index: -1;
  left: 0;
}
.about__left__image {
  object-fit: cover;
  object-position: top;
  width: 400px;
  height: 500px;
  box-shadow: var(--shadow);
}
.about__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__copy {
  width: 80%;
}

/*-----------------------------
Blog
-----------------------------*/
.blog::after {
  content: "";
  top: 50%;
  background-color: var(--softblue);
  height: 50px;
  width: 100%;
  position: absolute;
  z-index: -1;
  transform: translate(0, -50%);
}
.blog {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  margin: 5rem 0px;
}

.card {
  width: 30%;
  margin: 0 1.5%;
  position: relative;
  padding: 1rem;
  transition: all 0.3s ease-in;
  background: transparent;
}
.card:hover {
  box-shadow: var(--shadow);
  padding: 1rem;
  background: var(--white);
}
.card__image {
  width: 100%;
  height: auto;
}
.tle {
  /* font-size: 2rem; */
  text-align: center;
  border-bottom: 3px solid var(--darkblue);
  padding: 1rem 0;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
}
.card__copy {
  display: flex;
  flex-direction: column;
}
.card__copy a {
  all: inherit;
}
.read-more {
  margin: 1.2rem auto 0;
  background-color: var(--darkblue);
  padding: 0.5rem 1rem;
  color: var(--white);
  cursor: pointer;
  font-weight: 700;
  display: inline-block;
}

.card__copy h2 {
  margin-bottom: 0;
}

/*-----------------------------
Video
-----------------------------*/

.video {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  margin: 5rem 0px;
}
.video {
  margin-bottom: 3rem;
}
/*-----------------------------
Coaching
-----------------------------*/
.coaching {
  margin: 5rem 0px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
}
.coaching .container-center {
  align-items: baseline;
}
.coaching.container-center {
  flex-wrap: nowrap;
}
.card-coaching {
  margin: 0 1.5%;
  position: relative;
  transition: all 0.3s ease-in;
  background: transparent;
  display: flex;
  flex-direction: column;
  flex: 1 1;
}
.card-coaching figure {
  position: relative;
}
.card-coaching figure::before {
  background: none;
}
.card-coaching figure:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--darkblue);
  transition: all 0.3s linear;
  opacity: 0.6;
}
.coaching__copy {
  position: relative;
  width: calc(100% - 10%);
  top: -55px;
  background-color: var(--white);
  /* transform: translate(-50%, -50%); */
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 1rem;
  box-shadow: var(--shadow);
}
.coaching__copy a {
  margin-top: auto;
}
.coaching__copy h3 {
  border-bottom: 3px solid var(--darkblue);
  padding-bottom: 1rem;
}

.post-title {
  font-family: "Montserrat", sans-serif;
  margin: 1rem 0;
  text-align: center;
  border-bottom: 3px solid var(--darkblue);
  padding-bottom: 1rem;
}
.coaching__image {
  object-fit: cover;
  height: 300px;
}
/*-----------------------------
Cta-ebook
-----------------------------*/
.cta-ebook {
  background-color: var(--softblue);
  margin: 5rem 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: var(--white);
  padding: 3rem 0;
}
.cta-ebook__input,
.cta-ebook__submit {
  border: none;
  padding: 0.8rem 1rem;
  /* font-size: 1rem; */
}
.cta-ebook__submit {
  font-weight: 700;
  background-color: var(--darkblue);
  color: var(--white);
}
.cta-ebook__form {
  display: flex;
  align-items: center;
}
/*-----------------------------
Formation
-----------------------------*/

.formation {
  display: flex;
  align-items: center;
  margin: 5rem 0px;
}
.formation__copy h2 {
  border-color: var(--white);
}
/* .formation__left,
.formation__right {
  width: 50%;
} */
.formation__left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--softblue);
  color: var(--white);
  padding: 3rem 0;
}
.formation__left__image {
  object-fit: cover;
  object-position: bottom;
  height: 500px;
  box-shadow: var(--shadow);
}
.formation__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formation__left__figure {
  width: 100%;
}
.feedback {
  margin: 5rem auto 8rem;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
}
/*-----------------------------
Feedback
-----------------------------*/

.card-feedback {
  width: 30%;
  position: relative;
  margin: 1rem;
  transition: all 0.3s ease-in;
  background: transparent;
}
.card-feedback__copy {
  padding: 0.7rem 0.7rem 2rem;
}
.card-feedback__copy:hover {
  box-shadow: var(--shadow);
  border-radius: 4px;
}
.card-feedback__image {
  transition: all 1s linear;
  transform: rotate(10deg);
}
.card-feedback__image:hover {
  transform: rotate(0deg);
}
.card-feedback__image figure {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.card-feedback__image img {
  border-radius: 50%;
}
.card-feedback__name {
  margin-left: 1rem;
  align-self: center;
}
.card-feedback__name h2 {
  color: var(--darkblue);
  /* font-size: 1rem; */
  border-width: 2px;
}
.card-feedback__title {
  display: flex;
  position: absolute;
  bottom: -70px;
  left: 10%;
}
small {
  display: block;
}

/*-----------------------------
Banner
-----------------------------*/
.banner {
  background-image: url(/assets/img/photo_3.jpg);
  margin: 5rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--white);
  background-size: cover;
  background-attachment: fixed;
  background-position: 56% 46%;
  padding: 5rem 0;
}

.banner__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__text h1 {
  margin: 1rem 0;
  border-bottom: 4px solid var(--darkblue);
}
.banner__text h2 {
  border: none;
  margin: 1rem 0;
}

/*-----------------------------
Cta
-----------------------------*/
.cta {
  background-image: url(/assets/img/photo_3.jpg);
  margin: 5rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--white);
  background-size: cover;
  background-attachment: fixed;
  background-position: 56% 46%;
  padding: 5rem 0;
}
.cta__input,
.cta__submit {
  border: none;
  padding: 0.8rem 1rem;
  /* font-size: 1rem; */
}
.cta__submit {
  font-weight: 700;
  background-color: var(--darkblue);
  color: var(--white);
}
.cta__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta__text h1 {
  margin: 1rem 0;
}
.cta__text h2 {
  border: none;
  margin: 1rem 0;
}
.cta__text .button {
  font-weight: 700;
}

/*-----------------------------
Brand
-----------------------------*/
.brand {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5rem 0;
  flex-wrap: wrap;
}
/*-----------------------------
Footer
-----------------------------*/
.footer {
  background: var(--softblue);
  padding: 30px 0;
  display: flex;
  font-family: "Montserrat", sans-serif;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer-logo {
  width: 160px;
}
.footer-section {
  color: var(--white);
}
.footer-section h4 {
  border-bottom: 1px solid var(--white);
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.5rem;
  /* font-size: 1rem; */
}
.footer-section ul {
  line-height: 1.5rem;
  /* font-size: 0.8rem; */
}
.footer__input,
.footer__submit {
  border: none;
  /* font-size: 1rem; */
  padding: 0.8rem;
  margin: 0.5rem 0;
}
.footer-section figure {
  width: 250px;
}
.footer__form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.footer__submit {
  font-weight: 700;
  background-color: var(--darkblue);
  color: var(--white);
  cursor: pointer;
}
/*-----------------------------
Single: Generale
-----------------------------*/
.page-single-h1 {
  border-bottom: 4px solid var(--darkblue);
  display: inline-block;
  color: var(--white);
}
.cover-single {
  height: 40vh;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
  background-attachment: fixed;
}

.ulist {
  box-shadow: var(--shadow);
  padding: 0.5rem;
  border-radius: 5px;
  margin: 1rem 0;
  color: white;
  background-color: var(--softblue);
  font-weight: 700;
  padding-left: 2rem;
}
.ulist li {
  list-style-type: disc;
}
.cover-single__caption {
  padding: 2rem 0;
  width: 90%;
  text-align: center;
}
.cover-single__text {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--white);
}
.single-title {
  margin: 5rem 0px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
}
.row-reverse {
  flex-direction: row-reverse;
}

.content-right__figure::after,
.content-left__figure::after {
  content: " ";
  background-color: var(--softblue);
  width: 25%;
  height: 25%;
  position: absolute;
  top: -10px;
  z-index: -1;
  left: -10px;
}
.content-right__figure::before,
.content-left__figure::before {
  content: " ";
  background-color: var(--softblue);
  width: 25%;
  height: 25%;
  position: absolute;
  bottom: -10px;
  z-index: -1;
  right: -10px;
}

/* .content-left__figure::after {
  content: " ";
  background-color: var(--softblue);
  width: 50%;
  height: 50%;
  position: absolute;
  top: 25%;
  z-index: -1;
  right: 0;
} */
.content-left__image,
.content-right__image {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
  box-shadow: var(--shadow);
  transition: all 0.5s ease-in;
}

.content-left__image:hover,
.content-right__image:hover {
  /* filter: brightness(150%); */
  filter: contrast(150%);
}
.content-left {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: relative;
}
.content-left__text,
.content-right__text {
  width: 91%;
}
.content-right {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.content-right__text h2 {
  margin: 1rem 0;
}

.content-row {
  display: flex;
  margin: 5rem 0px;
  width: 100%;
  flex-wrap: wrap;
}
.content-left,
.content-right {
  /* width: 50%; */
  flex: 1 1 0;
}

.content-left__figure,
.content-right__figure {
  position: relative;
  margin-bottom: 4rem;
  width: 100%;
}

/*-----------------------------
Single: Blog-Page
-----------------------------*/
.cover-blog {
  background-image: url("/assets/img/articles.jpg");
  background-position: 50% 100%;
}
#blog-page article {
  flex: 1 1 auto;
  margin: 0 1rem;
}
#blog-page img {
  margin: 0;
  height: 300px;
  outline-color: var(--cream);
  transition: all 3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  filter: grayscale(5);
  object-fit: cover;
  width: 100%;
}
#blog-page img:hover {
  filter: none;
}
#blog-page figcaption {
  text-align: center;
}
/*-----------------------------
Single: Formation-Page
-----------------------------*/
.cover-formation {
  background-image: url("/assets/img/formation.jpg");
}
.panel-single__copy {
  max-width: 800px;
  margin: 0px auto;
  margin-top: 0px;
  margin-top: -60px;
  background: #fff;
  padding: 20px 40px;
  position: relative;
  z-index: 1;
}
.panel-single__copy__title {
  font-size: 32px;
}
.formation-video {
  width: 100%;
  box-shadow: var(--shadow);
}
/*-----------------------------
Single: Professionnel-Page
-----------------------------*/
.cover-professionnel {
  background-image: url("/assets/img/professionnel0.jpg");
  background-position: 50% 52%;
}

/*-----------------------------
Single: Particulier-Page
-----------------------------*/
.cover-particulier {
  background-image: url("/assets/img/personnel.jpg");
  background-position: 50% 52%;
}

/*-----------------------------
Single: Contact-Page
-----------------------------*/
.cover-contact {
  background-image: url("/assets/img/contact.jpg");
  background-position: 50% 33%;
}
.contact-icons {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.icon {
  width: 50px;
  display: inline-block;
  height: 50px;
  margin-right: 1rem;
}
.icon img {
  width: 100%;
}
#contact-page .form-group {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
#contact-page .content-right__text {
  width: 100%;
}
.form-group label {
  margin: 0.5rem 0;
}
.form-group input,
.form-group textarea,
.form-group select {
  border: 1px solid var(--darkblue);
  padding: 0.5rem;
}
/* .form-group > label {
    flex: 1 0 120px;
    max-width: 220px;
}
.form-group > label + * {
    flex: 1 0 220px;
} */
/*-----------------------------
Single: About-Page
-----------------------------*/
.cover-about {
  background-image: url("/assets/img/about.jpg");
  background-position: 50% 42%;
}

#about-page .content-left__figure {
  height: 500px;
}
.banner-about {
  background-image: url("/assets/img/cta-about.jpg");
}

.cta.cta-about h1 {
  border-bottom: 4px solid var(--darkblue);
}

/*-----------------------------
Single: Membres-Page
-----------------------------*/
#membres-page article {
  flex: 1 1 auto;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
}
#membres-page .cflex {
  align-items: flex-start;
}
#membres-page iframe {
  height: 200px;
  width: 100%;
}
/*-----------------------------
Tablet
-----------------------------*/
@media (max-width: 998px) {
  /* .header__icon-bar {
    display: block;
    order: 1;
  }

  .header__menu {
    width: 100%;
    height: 0px;
    overflow: hidden;
  }
  .is-open {
    height: 300px;
    overflow: auto;
  } */
}

/*-----------------------------
Smartphone
-----------------------------*/
@media (max-width: 767px) {
  /* General */
  .content-row {
    flex-direction: column;
  }
  .cover-single__text {
    width: 90%;
  }
  img {
    min-width: inherit;
  }

  .header {
    z-index: 100;
    width: 100%;
    display: block;
  }
  .header__icon-bar {
    display: block;
  }

  .header__menu {
    width: 100%;
    height: 0px;
    overflow: hidden;
  }
  .header__menu__item {
    display: block;
  }

  .is-open {
    height: 300px;
    overflow: hidden;
  }

  .cover,
  .about {
    flex-direction: column;
  }
  /* Cover */
  .break2 {
    display: none;
  }
  .cover__caption {
    padding: 2rem 0;
    width: 90%;
    text-align: center;
  }

  .cover-left {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .cover-left,
  .cover-right,
  .about__left,
  .about__right {
    width: 100%;
  }
  /* About */
  .about__left {
    margin: 2rem 0;
  }
  .about__left__image {
    width: 300px;
    height: 350px;
  }

  /* Cards */
  .card {
    width: 90%;
    margin: 5%;
  }
  /* Video */
  .card-video {
    margin: 0.5rem 0;
  }
  /* Coaching */
  .coaching__copy {
    width: 90%;
    position: relative;
  }
  .card-coaching {
    flex: 1 1 auto;
    margin: 0;
  }
  /* Cta-Ebook */
  .cta-ebook {
    text-align: center;
  }
  .cta-ebook__copy {
    margin-bottom: 2rem;
  }
  /* formation */
  .formation {
    flex-wrap: wrap;
    text-align: center;
  }
  .formation__left__image {
    width: 90%;
    height: 300px;
  }
  .formation__left__figure {
    position: relative;
    margin-top: 1rem;
  }
  .formation__left__figure::before {
    content: " ";
    background-color: var(--softblue);
    width: 10%;
    height: 50%;
    position: absolute;
    top: 25%;
    display: block;
    z-index: -1;
    right: 0;
  }
  /* Feedback */
  .card-feedback {
    margin: 3rem 0;
    width: 100%;
  }
  /* Cta */
  .cta__text {
    text-align: center;
    width: 95%;
  }
  /* Brand */
  .brand figure {
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  /* Footer */
  .footer div {
    width: 50%;
    text-align: center;
    margin: 1rem 0;
    padding: 0 1rem;
  }
  .footer__form {
    align-items: center;
  }
  .footer > div.footer-logo {
    flex: 1 1 100%;
    order: 1;
    padding: 0 7rem;
  }
  .footer-logo {
    padding: 0 6rem;
  }
  .footer-section figure {
    width: auto;
  }
}

@media screen and (max-width: 20em) {
}
@media screen and (min-width: 20em) {
}
@media screen and (min-width: 40em) {
}
@media screen and (min-width: 60em) {
}

@media screen and (min-width: 80em) {
}
