:root {
  --white: #fff;
  --darkblue: #2ec0f9;
  --softblue: #6cd2fa;
  --lightblue: #88dbfb;
  --black: #0e1111;
  --darkgrey: #666;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
}

:root body {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: var(--darkgrey);
}

/*-----------------------------
general
-----------------------------*/
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

.animate {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.button {
  margin: 1.2rem auto 0;
  background-color: var(--darkblue);
  padding: 0.5rem 1rem;
  color: var(--white);
  cursor: pointer;
}
.btn-outline {
  border: 1px solid var(--darkblue);
  padding: 0.6rem 1rem;
  color: var(--darkgrey);
  font-weight: 700;
}

.btn-outline:hover {
  background-color: var(--darkblue);
  color: var(--white);
}

.buttonflex {
  width: 200px;
  text-align: center;
  flex: 0 1 auto;
  margin-left: auto;
  margin-right: 0;
}
h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin: 0;
}

h2 {
  border-bottom: 3px solid var(--darkblue);
  display: inline-block;
  font-size: 2.5rem;
}
button {
  border: none;
}
img {
  min-width: 100%;
  height: auto;
}
p {
  line-height: 22px;
  font-size: 1rem;
  font-weight: 300;
}
a {
  color: var(--white);
  text-decoration: none;
}
.w100 {
  flex: 1 1 100%;
}
.subtitle {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
.flexitem-auto {
  flex: 1 1 auto;
}
.title-section {
  margin-bottom: 3rem;
}

.container-center {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
/*-----------------------------
header
-----------------------------*/

.header {
  background: var(--white);
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  text-transform: uppercase;
  box-shadow: var(--shadow);
  overflow: auto;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__logo {
  color: var(--white);
  display: block;
  text-decoration: none;
  width: 160px;
  float: left;
  padding: 0.75rem 0.5rem;
}
.header__logo__img {
  max-width: 100%;
  height: auto;
}
.header__menu {
  margin: 0;
  padding: 0;
  text-align: right;
  width: 80%;
  float: right;
}
.header__menu__item {
  width: 10%;
  padding: 0.75rem 0.5rem;
  margin: 0;
  text-decoration: none;
  color: var(--darkgrey);
  text-align: center;
  display: inline-block;
}
.header__menu__item a {
  display: block;
  text-decoration: none;
}

.header__icon-bar {
  display: block;
  float: right;
  padding: 20px;
  display: none;
}
.header__icon-bar span {
  display: block;
  height: 3px;
  width: 30px;
  background: var(--darkblue);
  margin-bottom: 5px;
}
/*-----------------------------
Cover
-----------------------------*/
.cover {
  height: 90vh;
  position: relative;
  display: flex;
  clear: both;
  overflow: auto;
}
.cover-left {
  background-image: url("/assets/img/photo_1.jpg");
  background-position: left;
  height: 100%;
  width: 50%;
  position: relative;
}
.cover-right {
  width: 50%;
  background-color: var(--darkblue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cover__caption h1 {
  border-bottom: 4px solid var(--white);
  font-size: 2rem;
  display: inline-block;
  margin-bottom: 1rem;
}

.cover__caption {
  width: 66%;
  min-width: 50%;
  color: var(--white);
}

.cover--single {
  height: 50vh;
}
.cover--single h1 {
  font-size: 42px;
}

/*-----------------------------
About
-----------------------------*/
.about {
  display: flex;
  height: 70%;
  overflow: auto;
}
.about__left,
.about__right {
  width: 50%;
}
.about__left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.about__left__figure::before {
  content: " ";
  background-color: var(--softblue);
  width: 50%;
  height: 86%;
  position: absolute;
  top: 7%;
  display: block;
  z-index: -1;
  left: 0;
}
.about__left__image {
  object-fit: cover;
  object-position: top;
  width: 400px;
  height: 500px;
  box-shadow: var(--shadow);
}
.about__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__copy {
  width: 80%;
}

/*-----------------------------
Blog
-----------------------------*/
.blog::after {
  content: "";
  top: 50%;
  background-color: var(--softblue);
  height: 50px;
  width: 100%;
  position: absolute;
  z-index: -1;
  transform: translate(0, -50%);
}
.blog {
  margin: 40px auto;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 70%;
  position: relative;
  overflow: auto;
}

.card {
  width: 30%;
  margin: 0 1.5%;
  position: relative;
  padding: 1rem;
  transition: all 0.3s ease-in;
  background: transparent;
}
.card:hover {
  box-shadow: var(--shadow);
  padding: 1rem;
  background: var(--white);
}
.card__image {
  width: 100%;
  height: auto;
}
.post-title {
  font-size: 2rem;
  text-align: center;
  border-bottom: 3px solid var(--darkblue);
  padding: 1rem 0;
  margin-bottom: 1rem;
}
.card__copy {
  display: flex;
  flex-direction: column;
}
.card__copy a {
  all: inherit;
}
.read-more {
  margin: 1.2rem auto 0;
  background-color: var(--darkblue);
  padding: 0.5rem 1rem;
  color: var(--white);
  cursor: pointer;
  font-weight: 700;
}

.card__copy h3 {
  margin-bottom: 0;
}

/*-----------------------------
Video
-----------------------------*/

.video {
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 70%;
  position: relative;
  overflow: auto;
}
.video {
  margin-bottom: 3rem;
}
/*-----------------------------
Coaching
-----------------------------*/
.coaching {
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 80%;
  position: relative;
}
.coaching.container-center {
  flex-wrap: nowrap;
}

.card-coaching {
  margin: 0 1.5%;
  position: relative;
  transition: all 0.3s ease-in;
  background: transparent;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.coaching__copy {
  position: absolute;
  width: calc(100% - 20%);
  top: 125%;
  background-color: var(--white);
  transform: translate(-50%, -50%);
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 1rem;
  box-shadow: var(--shadow);
}
.coaching__image {
  object-fit: cover;
}
/*-----------------------------
Cta-ebook
-----------------------------*/
.cta-ebook {
  background-color: var(--softblue);
  height: 20%;
  margin: 9rem 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--white);
}
.cta-ebook__copy {
  font-size: 1.5rem;
}
.cta-ebook__input,
.cta-ebook__submit {
  border: none;
  padding: 0.8rem 1rem;
  font-size: 1rem;
}
.cta-ebook__submit {
  font-weight: 700;
  background-color: var(--darkblue);
  color: var(--white);
}
/*-----------------------------
Formation
-----------------------------*/

.formation {
  display: flex;
  height: 70%;
  align-items: center;
}
.formation__copy h2 {
  border-color: var(--white);
}
.formation__left,
.formation__right {
  width: 50%;
}

.formation__left__figure {
  position: relative;
  background-color: var(--softblue);
  height: 64%;
  width: 100%;
}
.formation__left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--softblue);
  color: var(--white);
  padding: 3rem 0;
  width: 100%;
}
.formation__left__image {
  object-fit: cover;
  object-position: top;
  width: 400px;
  height: 500px;
  box-shadow: var(--shadow);
}
.formation__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formation__copy {
  width: 80%;
}

.feedback {
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 70%;
  position: relative;
}
/*-----------------------------
Feedback
-----------------------------*/

.card-feedback {
  width: 30%;
  margin: 0 1.5%;
  position: relative;
  padding: 1rem;
  transition: all 0.3s ease-in;
  background: transparent;
}
.card-feedback__copy {
  padding: 0.7rem 0.7rem 2rem;
}
.card-feedback__copy:hover {
  box-shadow: var(--shadow);
}
.card-feedback__image figure {
  width: 80px;
  height: 80px;
  background-color: var(--darkblue);
  border-radius: 50%;
}
.card-feedback__name {
  margin-left: 1rem;
  align-self: self-end;
}
.card-feedback__name h2 {
  color: var(--darkblue);
  font-size: 1rem;
  border-width: 2px;
}
.card-feedback__title {
  display: flex;
  position: absolute;
  bottom: -47px;
  left: 10%;
}
/*-----------------------------
Cta
-----------------------------*/
.cta {
  background-image: url(/assets/img/photo_3.jpg);
  height: 50%;
  margin: 9rem 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--white);
  background-size: cover;
  background-attachment: fixed;
  background-position: 56% 46%;
}
.cta__copy {
  font-size: 1.5rem;
}
.cta__input,
.cta__submit {
  border: none;
  padding: 0.8rem 1rem;
  font-size: 1rem;
}
.cta__submit {
  font-weight: 700;
  background-color: var(--darkblue);
  color: var(--white);
}
.cta__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta__text h1 {
  font-size: 5rem;
  margin: 1rem 0;
}
.cta__text h2 {
  border: none;
  font-size: 2rem;
  margin: 1rem 0;
}
.cta__text .button {
  font-size: 2rem;
  font-weight: 700;
}

/*-----------------------------
Brand
-----------------------------*/
.brand {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30%;
}
/*-----------------------------
Footer
-----------------------------*/
.cls-1 {
  fill: var(--white);
}
.cls-2 {
  fill: var(--white);
}
.cls-3 {
  fill: var(--white);
}
.footer {
  background: var(--softblue);
  padding: 30px 0;
  display: flex;
  font-family: "Montserrat", sans-serif;
  justify-content: space-around;
}
.footer-logo {
  width: 160px;
}
.footer-section {
  color: var(--white);
}
.footer-section h2 {
  border-bottom: 1px solid var(--white);
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.footer-section ul {
  line-height: 1.5rem;
  font-size: 0.8rem;
}
.footer__input,
.footer__submit {
  border: none;
  font-size: 1rem;
  padding: 0.8rem;
  margin: 0.5rem 0;
}
.footer__form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.footer__submit {
  font-weight: 700;
  background-color: var(--darkblue);
  color: var(--white);
  cursor: pointer;
}

/*-----------------------------
Single
-----------------------------*/
.panel {
}
.panel__copy {
  max-width: 800px;
  margin: 0px auto;
  margin-top: -60px;
  background: var(--white);
  padding: 20px 40px;
  position: relative;
  z-index: 1;
}
.panel__copy__meta {
  font-weight: bold;
  font-size: 16px;
}
.panel__copy__title {
  font-size: 32px;
}
/*-----------------------------
Tablet
-----------------------------*/
@media (max-width: 998px) {
}

/*-----------------------------
Smartphone
-----------------------------*/
@media (max-width: 767px) {
  :root body {
    font-size: 50%;
  }
  .header {
    z-index: 100;
    width: 100%;
  }
  .header__icon-bar {
    display: block;
  }

  .header__menu {
    width: 100%;
    height: 0px;
    overflow: hidden;
  }
  .header__menu__item {
    display: block;
  }
  .is-open {
    height: 300px;
    overflow: auto;
  }

  .cover,
  .about {
    flex-direction: column;
  }
  /* Cover */
  .cover__caption {
    padding: 2rem 0;
    width: 90%;
  }
  .cover-left {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .cover-left,
  .cover-right,
  .about__left,
  .about__right {
    width: 100%;
  }

  /* Cards */
  .card {
    width: 90%;
    margin: 5%;
  }
}

@media screen and (max-width: 20em) {
}
@media screen and (min-width: 20em) {
}
@media screen and (min-width: 40em) {
}
@media screen and (min-width: 60em) {
}

@media screen and (min-width: 80em) {
}
