{% extends 'front-base.html.twig' %}

{% block title %}About - Swann Xerri{% endblock %}
{% block body %}
    <main id="about-page">   
        <section class="cover cover-single cover-about">
            <div class="cover-single__text">
                <span class="breadcrumb"> Home - à propos </span>
				<h1 class="page-single-h1">Swann Xerri</h1>
                <p>« Bien que forgé par notre passé, ce sont nos actions d’aujourd’hui qui déterminent qui nous deviendrons demain »</p>
            </div>
        </section>        
            <div class="container-center cflex">                
                <section class="content-row">
                    <div class="content-left">
                        <figure class="content-left__figure">
                            <img class="content-left__image" src="/assets/img/swann_4.jpg" alt="Swann Xerri">
                        </figure>
                    </div>
                    <div class="content-right">
                        <div class="content-right__text">
                            <h2>A propos de Swann</h2>
                            <p>Expert en leadership et performance, Swann Xerri a déjà formé de nombreux entrepreneurs dans différents pays.</p>
                            <p>
                            Lui-même entrepreneur à succès et conférencier international, il se nourrit de son expérience et de ses nombreuses rencontres pour mettre en place des clés du succès pratiques et applicables au quotidien.
                            </p>
                            <p>
                            Il est l’auteur du programme en développement personnel « Architecte de ta vie » et a écrit de nombreux articles sur l’épanouissement  et la réussite personnelle.
                            </p>
                            <p>
                            Fervent promoteur du potentiel humain et passionné par la recherche et la transmission du savoir, Swann propose au sein de ses interventions une approche basée sur les dernières découvertes en neurosciences comportementales et cognitives.
                            </p>                           
                        </div>
                    </div>	
	            </section>
            </div>{# end container center #}
        <section class="banner banner-about">
		    <div class="banner__text">
				<h1>Deviens </h1>
				<h2>Chaque pas en avant te rapproche de la meilleure version de toi</h2>
			</div>
	    </section>

        
    </main>


{% endblock body %}