{% extends 'front-base.html.twig' %}

{% block title %}E-Formation{% endblock %}
{% block body %}
    <main id="formation-page">   
        <section class="cover cover-single cover-formation">
            <div class="cover-single__text">
                <span class="breadcrumb"> Home - E-Formation </span>
				<h1 class="page-single-h1">E-Formation</h1>
                <p>Obtenez la motivation, les conseils et le soutien dont vous avez besoin pour mettre votre vie sur les rails. Si vous voulez attirer la richesse, le succès et le bonheur, alors nos cours de coaching en ligne sont faits pour vous.</p>
            </div>
        </section>        
            <div class="container-center cflex">         
                <section class="content-row">
                    <div class="content-left">
                        <div class="content-left__text">
                            <h2>Architecte de ta Vie</h2>
                            <p>C'est un programme de coaching en ligne sur 12 mois autour des 4 piliers du succès:</p>
                                <ul class="ulist">
                                    <li>La conscience de soi</li>
                                    <li>La maîtrise de soi</li>
                                    <li>Les clés de la performance individuelle</li>
                                    <li>Les clés de la performance collective</li>
                                </ul>
                            <p>                
                            Il s’agit de l’un des programmes les plus complets en développement personnel qui vous permettra d’avoir tous les outils pratiques de la performance, du bien-être et de l’épanouissement.
                            </p>
                        </div>
                    </div>
                    <div class="content-right">
                        <iframe class="formation-video" height="379" src="https://www.youtube.com/embed/yp1KAqa09Yo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                      
                    </div>	
	            </section>

                <section class="content-row">
                    <div class="content-left">
                        <figure class="content-right__figure">
                            <img class="content-right__image" src="/assets/img/formation0.jpg" alt="Swann Xerri">
                        </figure>
                    </div>
                    <div class="content-right">
                        <div class="content-right__text">
                            <h2>Conscience de soi:</h2>
                            <p>Socrate disait : "Connais-toi toi-même." Comme une invitation à la sagesse, au devenir,
                               au développement personnel.</p>
                            <p>La conscience de soi est, selon moi, la première étape de n’importe quelle forme de
                            progrès. Qui je suis, où j’en suis ; mais surtout, où j’ai envie d’aller, qui j’ai envie de
                            devenir et ce que j’ai envie d’accomplir.</p>
                            <p>Découvrir quelles sont mes motivations
                            profondes, et comprendre comment me réaliser à mon plein potentiel. Découvrez-vous,
                            réapprenez à vous connaitre grâce à de nombreux outils, tests de personnalité, tableaux
                            d’objectifs, outils de visualisation, et bien d’autres choses…
                            </p>
                        </div>
                    </div>	
	            </section> 

                <section class="content-row row-reverse">
                    <div class="content-left">
                        <figure class="content-right__figure">
                            <img class="content-right__image" src="/assets/img/formation1.jpg" alt="Swann Xerri">
                        </figure>
                    </div>
                    <div class="content-right">
                        <div class="content-right__text">
                            <h2>Maîtrise de soi:</h2>
                            <p>Après avoir défini qui je suis et quelle chemin je souhaite entreprendre, il est
                            important de se sentir prêt et énergique. Cela demande une bonne compréhension et
                            une meilleure maîtrise de notre corps (véhicule indispensable), ainsi que de notre cerveau
                            (chef d’orchestre de nos réalisations).</p>
                            <p>Comment fonctionne le cerveau et est-ce qu’il a des propriétés particulières qui me
                                permettrait d’être plus efficace ou plus créatif dans ce que j’entreprends ? Vous serez
                                surpris d’apprendre l’étendue des capacités de votre cerveau lorsque vous en comprenez
                                son fonctionnement.</p>
                            <p>N’oublions pas, bien sûr, l’importance de prendre soin de son corps, car il est le véhicule
                                indispensable qui vous mènera jusqu’au bout de vos projets, idées et aspirations. Quelle
                                est la place que tient la nutrition, le sommeil, la respiration ou l’exercice physique dans
                                votre bien-être quotidien ? Maîtriser qui je suis, c’est se stabiliser, c’est trouver l’énergie,
                                le soutien nécessaire pour se mettre en marche, passer a l’action et créer du
                                changement. Dans cette partie, je serais accompagné d’un Directeur de recherche au
                                CNRS, une nutrithérapeute et un coach sportif.
                            </p>
                        </div>
                    </div>	
	            </section>
                <section class="content-row">
                    <div class="content-left">
                        <figure class="content-left__figure">
                            <img class="content-left__image" src="/assets/img/formation2.jpg" alt="Swann Xerri">
                        </figure>
                    </div>
                    <div class="content-right">
                        <div class="content-right__text">
                            <h2>Les clés de la performance individuelle:</h2>
                            <p>Comment je mobilise mon énergie et comment mettre en jeu les atouts nécessaires pour
                            aller de l’avant, dépasser les obstacles, progresser et devenir plus fort, plus créatif, plus
                            motivé et efficace, mais aussi plus serein et mieux préparé pour les challenges et les
                            opportunités de la vie ? Nous apprendrons à transformer nos peurs, à nous libérer de la
                            pression sociale, mais aussi à nous fixer des objectifs et à prendre confiance en nous-mêmes.
                            </p>
                            <p>Que ce soit pour réussir professionnellement ou dans notre vie personnelle, les
                            mécanismes de la performance sont très similaires. C’est ici que je vous donnerai les
                            étapes menant au succès que vous souhaitez.
                            </p>
                        </div>
                    </div>	
	            </section>
                <section class="content-row row-reverse">
                    <div class="content-left">
                        <figure class="content-right__figure">
                            <img class="content-right__image" src="/assets/img/formation3.jpg" alt="Swann Xerri">
                        </figure>
                    </div>
                    <div class="content-right">
                        <div class="content-right__text">
                            <h2>Les clés de la performance collective:</h2>
                            <p>S'il est primordial d’avoir un meilleur contrôle de soi et de se sentir prêt à affronter
                            toutes les situations de la vie, il est tout aussi important de maîtriser notre relation avec
                            les autres, de savoir s’entourer des bonnes personnes, mais aussi d’être capable d’offrir
                            à notre entourage ce que l’on a de meilleur : notre présence, notre écoute et notre
                            bienveillance.</p>
                            
                            <p>Que vous vous sentiez seul en ayant envie de vous ouvrir aux autres, ou si
                            vous êtes déjà bien entourés mais que vous souhaitez avoir de meilleures relations avec
                            les autres : dans tous les cas, cette partie correspondra parfaitement à vos attentes.
                            </p>
                        </div>
                    </div>	
	            </section>
                
                <div id="paypal-button"></div>
                
                <script src="https://www.paypalobjects.com/api/checkout.js"></script>
                <script>
                paypal.Button.render({
                    // Configure environment
                    env: 'sandbox',
                    client: {
                    sandbox: 'demo_sandbox_client_id',
                    production: 'demo_production_client_id'
                    },
                    // Customize button (optional)
                    locale: 'fr_FR',
                    style: {
                    size: 'medium',
                    color: 'blue',
                    shape: 'pill',
                    },

                    // Enable Pay Now checkout flow (optional)
                    commit: true,

                    // Set up a payment
                    payment: function(data, actions) {
                    return actions.payment.create({
                        transactions: [{
                        amount: {
                            total: '99',
                            currency: 'EUR'
                        }
                        }]
                    });
                    },
                    // Execute the payment
                    onAuthorize: function(data, actions) {
                    return actions.payment.execute().then(function() {
                        // Show a confirmation message to the buyer
                        window.alert('Merci pour votre confiance !');
                        window.setTimeout(function(){
                        window.location.href = "http://127.0.0.1:8000/signup/paiement-confirmation/";
                    }, 1000);
                    });
                    }
                }, '#paypal-button');
                
                </script>
                {# <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppppcmcvdam.png" alt="Pay with PayPal, PayPal Credit or any major credit card" /> #}
             </div>{# end container center #}    
            <section class="banner banner-about">
                    <div class="banner__text">
                        <h1>Imagine</h1>
                        <h2>Les seules limites sont celles que tu te fixes.</h2>
                    </div>
            </section>
    </main>


{% endblock body %}