{% extends 'front-base.html.twig' %}

{% block title %}Particuliers - Swann Xerri{% endblock %}
{% block body %}
<main id="particulier-page">   
            <section class="cover cover-single cover-particulier">
                <div class="cover-single__text">
                    <h1 class="page-single-h1">Particuliers</h1>
                    
                </div>
            </section> 
                       <section>
                <div class="container-center cflex">
                    <section class="content-row">
                        <div class="content-left">
                            <figure class="content-left__figure">
                                <img class="content-left__image" src="/assets/img/particulier.jpg" alt="Swann Xerri">
                            </figure>
                        </div>
                        <div class="content-right">
                            <div class="content-right__text">
                                <h2>Coaching personnel</h2>
                                <p>Plus que jamais la quête de bonheur et de bien-être son au centre de nos
                                    préoccupations. Qui n’a pas envie de se sentir vivant, énergique, heureux dans son
                                    couple, serein dans ses relations avec les autres, confiant et conscient ?
                                    </p>
                                    <p>
                                    Swann est un professionnel de l’accompagnement à la réussite et à la performance. Il
                                    maîtrise et saura vous enseigner tous les mécanismes qui vous permettront d’atteindre
                                    vos objectifs de vie.</p>
                                    <ul class="ulist">
                                        <li>Gagner en confiance et estime de soi</li>
                                        <li>Réussir sa reconversion professionnelle</li>
                                        <li>Avoir un bon équilibre vie pro/vie perso</li>
                                        <li>Avoir une meilleure relation avec soi</li>
                                        <li>Avoir de meilleures relations avec les autres</li>
                                        <li>Réussir vos entretiens scolaires ou professionnels</li>
                                        <li>Etc...</li>
                                    </ul>
                                </p>
                            </div>
                        </div>	
                    </section> 
                </div>{# end container center #} 
            </section>
    </main>
{% endblock body %}