{% extends 'front-base.html.twig' %}

{% block title %}Professionnels - Swann Xerri{% endblock %}


{% block body %}
    <main id="professionnel-page">   
            <section class="cover cover-single cover-professionnel">
                <div class="cover-single__text">
                    {# <span class="breadcrumb"> Home - Professionnel </span> #}
                    <h1 class="page-single-h1">Professionnels</h1>
                </div>
            </section>
            <section>
                <div class="container-center cflex">
                    <section class="content-row">
                        <div class="content-left">
                            {# <figure class="content-left__figure">
                                <img class="content-left__image" src="/assets/img/professionnel1.jpg" alt="Swann Xerri">
                            </figure> #}
                            <iframe height="315"
                            src="https://www.youtube.com/embed/bEyvpN5ATr8" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope;
                            picture-in-picture" allowfullscreen>
                            </iframe>
                        </div>
                        <div class="content-right">
                            <div class="content-right__text">
                                <h2>Coaching professionnel</h2>
                                <p>Le coaching est un <strong>partenariat entre le coach et ses clients</strong> afin de les aider à maximiser
                                    leur potentiel.</p>
                                    <p>Dans une approche pratiquo-pratique basée sur de nombreuses années
                                    d’expérience terrain, Swann vous donnera les clefs pour pouvoir <strong>développer votre
                                    leadership, améliorer votre productivité, renforcer vos pratiques managériales,
                                    communiquer avec plus d’efficacité</strong> ou encore prendre la parole en public avec aisance.</p>
                                    <p>Un accompagnement à votre mesure.
                                </p>
                            </div>
                        </div>	
                    </section> 
                    <section class="content-row row-reverse">
                        <div class="content-left">
                            {# <figure class="content-right__figure">
                                <img class="content-right__image" src="/assets/img/professionnel2.jpg" alt="Swann Xerri">
                            </figure> #}
                            <iframe height="315"
                            src="https://www.youtube.com/embed/G3c7RWinVnI" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope;
                            picture-in-picture" allowfullscreen>
                            </iframe>
                        </div>
                        <div class="content-right">
                            <div class="content-right__text">
                                <h2>Conférences</h2>
                                <p>Vous souhaitez <strong>motiver et inspirer</strong> vos équipes lors de vos événements d’entreprise ?
                                Rien de mieux que d’y inclure une <strong>conférence en développement personnel et
                                professionnel</strong>.</p>
                                <p>Swann Xerri a déjà eu l’opportunité d’accompagner de nombreuses
                                entreprises et inspirer des milliers de personnes à travers le monde lors de ses
                                conférences en motivation et performance. De part son <strong>énergie et son enthousiasme</strong>
                                débordant, il saura ravir et inspirer vos équipes.
                                </p>
                            </div>
                        </div>	
	                </section>
                    <section class="content-row">
                        <div class="content-left">
                            {# <figure class="content-left__figure">
                                <img class="content-left__image" src="/assets/img/professionnel3.jpg" alt="Swann Xerri">
                            </figure> #}
                            <iframe height="315"
                            src="https://www.youtube.com/embed/rbI6vBinZsU" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope;
                            picture-in-picture" allowfullscreen>
                            </iframe>
                        </div>
                        <div class="content-right">
                            <div class="content-right__text">
                                <h2>Formation</h2>
                                <p>La montée en compétence des équipes est un facteur clé de <strong>succès de l’entreprise</strong>. Des
                                    équipes bien formées c’est une meilleure collaboration en interne et en externe, une
                                    performance décuplée, un niveau de satisfaction client augmenté et plus de fidélité de la
                                    part de vos collaborateurs.</p>
                                    <p>Plus que jamais les entreprises ainsi que leurs salariés
                                    perçoivent le monde professionnel comme un <strong>lieu d’apprentissage, de développement
                                    professionnel ainsi que d’épanouissement personnel</strong>. Swann Xerri est un formateur
                                    expérimenté avec une méthodologie basée sur l’échange et le partage d’experience.
                                    L’ensemble de ses formations contiennent <strong>des clés de progrès et outils basés sur les
                                    dernières découvertes en neurosciences</strong>.
                                </p>
                            </div>
                        </div>	
                    </section>
                


                </div>{# end container center #} 
            </section>
    </main>


{% endblock body %}