{% extends 'base.html.twig' %}

{% block title %}Message envoyé !{% endblock %}

{% block body %}
    <h1>Votre message a bien été envoyé !</h1>
    <p>Vous en recevrez la copie par email.</p>
    <p>Vous allez être redirigé vers la page d'accueil.</p>

<script>
    window.setTimeout(function(){
        window.location.href = "http://127.0.0.1:8000/";
        }, 5000);
</script>
{% endblock %}