{% extends 'base.html.twig' %}

{% block title %}Ebook envoyé !{% endblock %}

{% block body %}
{% block header %}{% endblock header %}
{% block dashboard %}{% endblock dashboard %}

<div class="container">
    <main role="main" class="col">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
            <h1 class="h2 h2-swann">Votre ebook a bien été envoyé à votre adresse email !</h1>
        </div>




    <h1></h1>
    <p>Vous allez être redirigé vers la page d'accueil.</p>

        </main>
</div> {# end container-fluid #}
<script>
    window.setTimeout(function(){
        window.location.href = "http://127.0.0.1:8000/";
        }, 5000);
</script>
{% endblock %}