<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome ciaone{% endblock %}</title>
        {% block stylesheets %}
            {# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> #}
			<link href="https://fonts.googleapis.com/css?family=Montserrat:300,700|Playfair+Display:400,700" rel="stylesheet">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />  
            <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/style.css')) }}">            
        {% endblock %}        
    </head>
<body>

	<header class="header ">
		<a href="#" class="header__logo">
			<svg id="logo-svg" data-name="logo-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 540.7 46.4">
			<defs><style>.cls-1{fill:#1d1d1b;}</style></defs>
			<title>Logo Swann Xerri</title>
			<path class="cls-1" d="M24.73,3.43A4.71,4.71,0,0,0,26,1.52c.18-.55.45-.82.79-.82a.93.93,0,0,1,.61.34c.16.82.39,2.47.69,4.94l.81,6.42c0,.41-.25.61-.75.61-.27,0-.51-.22-.71-.68A18.75,18.75,0,0,0,22,4.89,11.94,11.94,0,0,0,14.29,2c-2.76,0-4.83.83-6.23,2.49A8.08,8.08,0,0,0,6,9.74,6.28,6.28,0,0,0,8.24,15q2.3,1.8,9.43,4.09a39.3,39.3,0,0,1,7.87,3.18,13,13,0,0,1,4.38,4.29,10.78,10.78,0,0,1,1.78,5.94,13.07,13.07,0,0,1-4.47,9.66,15.31,15.31,0,0,1-11,4.26A22.27,22.27,0,0,1,4.52,42.73,4.37,4.37,0,0,0,3,45c-.18.73-.48,1.09-.89,1.09s-.62-.46-.78-1.4-.49-5.34-1-13.23c.09-.28.33-.41.72-.41s.61.25.81.75Q7.16,45,16.57,45a9.61,9.61,0,0,0,7.33-2.81,9.18,9.18,0,0,0,2.64-6.47,8.2,8.2,0,0,0-1.41-4.64,10.66,10.66,0,0,0-3.76-3.41A44,44,0,0,0,14,24.75c-4.32-1.39-7.27-2.7-8.82-3.94a11.77,11.77,0,0,1-3.44-4.2A10.76,10.76,0,0,1,.63,12.09q0-4.53,4.12-8A15,15,0,0,1,14.83.53a17.24,17.24,0,0,1,4.73.71A25.92,25.92,0,0,1,24.73,3.43Z" transform="translate(-0.36 -0.12)"/>
			<path class="cls-1" d="M65.3,46.52h-1Q62.65,43,60.47,37.75T53.16,20.88Q48,9.23,46.44,6.94a11.36,11.36,0,0,0-2.9-3.13,5.46,5.46,0,0,0-2.36-1c-.7-.07-1.06-.28-1.06-.64s.87-.63,2.6-.63H57.6c1.39,0,2.09.21,2.09.63s-.34.61-1,.64q-4.39.24-4.4,3.46a7.09,7.09,0,0,0,.37,2Q55,9.5,59.51,20.38T66.63,37q1.07-2.62,4.5-12.75t4.12-12.72q-2.46-6.6-3.6-7.43A6.53,6.53,0,0,0,68.53,3c-.94-.09-1.4-.33-1.4-.71s.83-.69,2.49-.69H84.27a6.81,6.81,0,0,1,1.67.12c.23.08.34.28.34.6s-.58.58-1.75.79C82,3.47,80.8,4.68,80.8,6.7q0,4.78,10.82,29.85,2.14-5.49,4.19-11.32l3.68-10.37q1.61-4.57,1.83-5.72A11.05,11.05,0,0,0,101.54,7c0-2.74-1.43-4.14-4.3-4.18-.64,0-1-.24-1-.64a.5.5,0,0,1,.31-.51,7,7,0,0,1,1.74-.12h8.3c2.48,0,3.89,0,4.25.07a.57.57,0,0,1,.53.64c0,.35-.27.53-.79.56a7.11,7.11,0,0,0-5.87,4.09q-2.11,3.83-9.55,25.25-3.93,11.25-5.26,14.33H89Q86.23,39,83.63,32.8T76.28,14.51Z" transform="translate(-0.36 -0.12)"/>
			<path class="cls-1" d="M133.84.12h1.58q3.81,7.82,10.52,26.71,4.32,12.12,5.93,14.86A6.21,6.21,0,0,0,157,44.74c.75.07,1.13.32,1.13.75s-.19.48-.58.48l-.48,0q-3.13-.28-8-.28-7.44,0-9.55.24c-.71,0-1.06-.2-1.06-.61s.26-.48.78-.55a9.55,9.55,0,0,0,4-1,2.47,2.47,0,0,0,1.11-2.25q0-1.47-2.08-7.33l-2-5.87q-1.77,0-15.87.2-3.56,9.45-3.56,11.92a3.36,3.36,0,0,0,1.76,3.11,8,8,0,0,0,3.47,1.11c.84.07,1.26.32,1.26.76,0,.18-.14.35-.41.5q-5.46-.24-6.59-.24c-3.82,0-6.4.05-7.72.14-.72,0-1.09-.2-1.09-.61s.32-.6,1-.69q3.93-.51,6-5.32T125,21.88Q129.07,10.53,133.84.12Zm-1.36,7.43a173.45,173.45,0,0,0-7.42,18.84c2.35-.12,4-.17,5.06-.17l9.59.17q-1.26-3.55-3.55-9.42Q133.37,10,132.48,7.55Z" transform="translate(-0.36 -0.12)"/>
			<path class="cls-1" d="M177.56,1.24q2,2.77,7.1,8.57l10.92,12.65L206.1,34.61q.33-6.18.34-16a98.93,98.93,0,0,0-.31-9.91,6.44,6.44,0,0,0-2.27-4.21A7.19,7.19,0,0,0,199,2.74c-.91,0-1.36-.19-1.36-.58a.51.51,0,0,1,.29-.49,31.69,31.69,0,0,1,4.59-.31q4.31-.15,7.24-.15l4.6,0h.75c.71,0,1.06.2,1.06.6s-.3.56-.92.63a8.64,8.64,0,0,0-5,1.79,6.31,6.31,0,0,0-1.8,4.08q-.3,2.67-.29,17.93l-.34,18c0,.91-.22,1.36-.67,1.36a1.09,1.09,0,0,1-.47-.15,35.4,35.4,0,0,1-3.07-3.45q-2.76-3.29-6.81-7.89c-2.69-3.07-4.82-5.57-6.36-7.48q-5.09-6.17-6.42-7.6a58.83,58.83,0,0,1-5.84-6.76c-.39-.68-.74-1-1.06-1s-.37.44-.37,1.33l.07,5.29q0,10.07.54,16.06t1.15,7a7.06,7.06,0,0,0,2.08,2.1,5.38,5.38,0,0,0,3.16,1.06c1.5,0,2.25.27,2.25.82,0,.4-.42.61-1.26.61l-16.43,0c-.77,0-1.16-.2-1.16-.58s.38-.69,1.13-.69q4.2,0,5.6-1.86t1.4-7.89l-.28-12q0-10.61-.57-12.5a16.08,16.08,0,0,0-2.62-4.61,6.9,6.9,0,0,0-4.62-3.05c-.78-.09-1.16-.3-1.16-.62s.5-.65,1.5-.65Z" transform="translate(-0.36 -0.12)"/>
			<path class="cls-1" d="M235.59,1.24q2,2.77,7.1,8.57l10.92,12.65,10.52,12.15q.33-6.18.34-16a98.93,98.93,0,0,0-.31-9.91,6.44,6.44,0,0,0-2.27-4.21A7.19,7.19,0,0,0,257,2.74c-.91,0-1.36-.19-1.36-.58a.51.51,0,0,1,.29-.49,31.69,31.69,0,0,1,4.59-.31q4.31-.15,7.24-.15l4.6,0h.75c.71,0,1.06.2,1.06.6s-.3.56-.92.63a8.64,8.64,0,0,0-5,1.79,6.31,6.31,0,0,0-1.8,4.08q-.3,2.67-.29,17.93l-.34,18c0,.91-.22,1.36-.67,1.36a1.09,1.09,0,0,1-.47-.15,35.4,35.4,0,0,1-3.07-3.45q-2.76-3.29-6.81-7.89c-2.69-3.07-4.82-5.57-6.36-7.48q-5.09-6.17-6.42-7.6a58.83,58.83,0,0,1-5.84-6.76c-.39-.68-.74-1-1.06-1s-.37.44-.37,1.33l.07,5.29q0,10.07.54,16.06t1.15,7a7.06,7.06,0,0,0,2.08,2.1,5.38,5.38,0,0,0,3.16,1.06c1.5,0,2.25.27,2.25.82,0,.4-.42.61-1.26.61l-16.43,0c-.77,0-1.16-.2-1.16-.58s.38-.69,1.13-.69q4.2,0,5.6-1.86t1.4-7.89l-.28-12q0-10.61-.57-12.5a16.08,16.08,0,0,0-2.62-4.61,6.9,6.9,0,0,0-4.62-3.05c-.78-.09-1.16-.3-1.16-.62s.5-.65,1.5-.65Z" transform="translate(-0.36 -0.12)"/>
			<path class="cls-1" d="M331.1,19.37q1.66-2,4.54-6.09A50.47,50.47,0,0,0,339.05,8,5.09,5.09,0,0,0,339.6,6a2.54,2.54,0,0,0-1.32-2.3,6.1,6.1,0,0,0-2.85-.91Q334,2.65,334,2c0-.38.71-.58,2.12-.58h14.31a8,8,0,0,1,1.75.11.46.46,0,0,1,.33.51c0,.38-.43.6-1.3.65a10.38,10.38,0,0,0-5.82,2.11q-2.69,2-7.49,8.49t-5.36,7.6q9.93,14.85,14,19.25t7.54,4.54q1.23.07,1.23.75c0,.39-.43.58-1.3.58-.36,0-1.29,0-2.8-.13q-3.21-.21-6-.21-4.79,0-9.12.21c-.36,0-.73,0-1.09,0-1.09,0-1.64-.19-1.64-.58s.29-.68.89-.68q4.33,0,4.33-2.7T328.54,26a69.16,69.16,0,0,0-5.48,7.39q-4.4,6.38-4.39,8c0,.77.55,1.46,1.66,2a10.63,10.63,0,0,0,4.21,1.09c.84.07,1.26.29,1.26.67s-.39.63-1.19.63l-1.26,0-7-.17q-6.13,0-8.43.24c-.95,0-1.43-.22-1.43-.66s.35-.63,1.05-.63a10.34,10.34,0,0,0,4.25-.86,9.32,9.32,0,0,0,3.25-2.34q1.31-1.48,5.82-7.85t6.25-9.13Q315.4,7.29,312.68,5.08a10.55,10.55,0,0,0-6.16-2.4c-.62-.05-.93-.27-.93-.67s.57-.6,1.71-.6h18a5.43,5.43,0,0,1,1.55.12.53.53,0,0,1,.26.53.52.52,0,0,1-.31.5,10,10,0,0,1-2.25.25,3.61,3.61,0,0,0-2,.74A1.8,1.8,0,0,0,321.71,5q0,1,3.28,6A84.5,84.5,0,0,0,331.1,19.37Z" transform="translate(-0.36 -0.12)"/>
			<path class="cls-1" d="M400.46,1.41a100.48,100.48,0,0,1,2,10.72.47.47,0,0,1-.37.27.76.76,0,0,1-.5-.27A28.31,28.31,0,0,0,397,6.36a13.71,13.71,0,0,0-4.33-2.81q-2.16-.84-7.46-.84a41.89,41.89,0,0,0-7.89.58,2.11,2.11,0,0,0-.27,1.26c0,.16,0,.44-.07.85q-.35,2.73-.34,14.78c0,.34,0,.82.06,1.43,1.73.07,2.92.1,3.56.1q4.31,0,6.23-1.28c1.29-.86,2.41-2.7,3.37-5.54.16-.48.38-.72.68-.72s.64.33.64,1l-.14,1.37c-.18,1.8-.27,3.66-.27,5.57q0,4.65.17,8.38c0,.77-.21,1.16-.63,1.16s-.51-.27-.62-.82a9,9,0,0,0-3-5.8q-2.29-1.77-10-1.77c-.06,1.66-.1,4.34-.1,8.05q0,7.2.51,9.14a5,5,0,0,0,2.46,3.09q1.95,1.14,6.6,1.14,13.29,0,17.15-9.14c.31-.75.64-1.12,1-1.12s.54.25.54.75a2.48,2.48,0,0,1-.17.88c-.13.44-.46,2.05-1,4.85q-.17.88-1.29,5.32l-14.31,0q-3.08,0-9-.25t-10.55-.27a28.1,28.1,0,0,1-4.79-.19.5.5,0,0,1-.21-.38c0-.45.38-.68,1.13-.68,2.52,0,4.19-.67,5-2s1.2-4.6,1.2-9.78l0-7,.11-6.55q0-2-.23-7.48c-.14-3.67-.28-5.77-.4-6.29a3.16,3.16,0,0,0-1.06-1.55,10.59,10.59,0,0,0-3.84-1.55c-.6-.16-.89-.41-.89-.75s.4-.62,1.19-.62l7,.38q3.69.17,18.13.17Q400.25,1.38,400.46,1.41Z" transform="translate(-0.36 -0.12)"/>
			<path class="cls-1" d="M441.32,22.79q4.74,2.05,6.59,4.29A15.31,15.31,0,0,1,450.65,34c.76,4.1,1.83,6.85,3.19,8.26a7.54,7.54,0,0,0,5.34,2.25c.61,0,.91.27.91.67s-.35.6-1,.6q-9.57,0-11.59-.63c-1.36-.43-2.37-2.75-3-7a53.81,53.81,0,0,0-1.93-9,8.66,8.66,0,0,0-3.21-4.36c-1.47-1-3.76-1.52-6.88-1.52a24.69,24.69,0,0,0-4,.37c-.11,1.43-.17,2.92-.17,4.46q0,8.76.24,11.33a5.8,5.8,0,0,0,1.45,3.75,5.89,5.89,0,0,0,4,1.24q1.23,0,1.23.6t-1.5.66h-16.9q-1.47,0-1.47-.66c0-.4.39-.6,1.16-.6a6.16,6.16,0,0,0,3.61-.78,5.16,5.16,0,0,0,1.58-2.44,20.5,20.5,0,0,0,.59-6l-.07-7,0-10.6a99.38,99.38,0,0,0-.36-10.74,6.23,6.23,0,0,0-1.28-3.53c-.61-.6-2-1.07-4.27-1.41-.47-.07-.71-.26-.71-.58s.48-.55,1.43-.55L437.22.39q8.37,0,12.14,3.2a9.93,9.93,0,0,1,3.77,7.84,9.92,9.92,0,0,1-1.52,5.36A9.56,9.56,0,0,1,448,20.3,41.42,41.42,0,0,1,441.32,22.79Zm-12.94-.87a50.16,50.16,0,0,0,9.83-.92,10.5,10.5,0,0,0,5.58-3.45,9.31,9.31,0,0,0,2.31-6.31,9.79,9.79,0,0,0-2.56-6.72q-2.57-2.86-8.2-2.87a31.61,31.61,0,0,0-6.79.82q-.41,9.39-.41,14.94C428.14,18.69,428.22,20.19,428.38,21.92Z" transform="translate(-0.36 -0.12)"/>
			<path class="cls-1" d="M494.26,22.79q4.74,2.05,6.6,4.29A15.43,15.43,0,0,1,503.59,34q1.16,6.15,3.19,8.26a7.54,7.54,0,0,0,5.34,2.25c.61,0,.92.27.92.67s-.36.6-1.06.6q-9.56,0-11.59-.63c-1.35-.43-2.36-2.75-3-7a53.81,53.81,0,0,0-1.93-9,8.55,8.55,0,0,0-3.21-4.36c-1.47-1-3.76-1.52-6.88-1.52a24.89,24.89,0,0,0-4,.37c-.11,1.43-.17,2.92-.17,4.46q0,8.76.24,11.33a5.8,5.8,0,0,0,1.45,3.75,5.92,5.92,0,0,0,4.05,1.24q1.23,0,1.23.6c0,.44-.5.66-1.51.66H469.72q-1.47,0-1.47-.66c0-.4.39-.6,1.16-.6a6.1,6.1,0,0,0,3.6-.78,5.25,5.25,0,0,0,1.59-2.44,20.59,20.59,0,0,0,.58-6l-.07-7,0-10.6a103.18,103.18,0,0,0-.35-10.74,6.3,6.3,0,0,0-1.28-3.53c-.62-.6-2-1.07-4.27-1.41-.48-.07-.72-.26-.72-.58S469,.83,470,.83L490.17.39q8.35,0,12.13,3.2a9.9,9.9,0,0,1,3.77,7.84,9.91,9.91,0,0,1-1.51,5.36A9.65,9.65,0,0,1,501,20.3,41.05,41.05,0,0,1,494.26,22.79Zm-12.94-.87a50.37,50.37,0,0,0,9.84-.92,10.57,10.57,0,0,0,5.58-3.45,9.35,9.35,0,0,0,2.3-6.31,9.75,9.75,0,0,0-2.56-6.72q-2.57-2.86-8.19-2.87a31.62,31.62,0,0,0-6.8.82q-.4,9.39-.41,14.94C481.08,18.69,481.16,20.19,481.32,21.92Z" transform="translate(-0.36 -0.12)"/>
			<path class="cls-1" d="M523.58.66l6.23.14,9.54-.14c1.14,0,1.71.23,1.71.68s-.31.56-.92.65c-2.53.32-4.1,1.23-4.73,2.73s-.94,7.05-.94,16.65q0,5.29.27,11.91a58.82,58.82,0,0,0,.62,7.91,4.08,4.08,0,0,0,1.3,2.12,7.17,7.17,0,0,0,3.55,1.16c.57.07.85.28.85.65s-.26.61-.79.61l-8.48-.07-7.22.11c-.8,0-1.19-.23-1.19-.69s.31-.71,1-.71c2.12,0,3.36-.75,3.72-2.12s.55-5.72.55-13.07q0-10.63-.19-17.23c-.12-4.38-.49-7.07-1.11-8a4.64,4.64,0,0,0-3.48-1.84q-1-.17-1-.78C522.86.87,523.1.66,523.58.66Z" transform="translate(-0.36 -0.12)"/></svg>
		</a>
		<a href="#" class="header__icon-bar">
			<span></span>
			<span></span>
			<span></span>
		</a>
		<nav class="header__menu animate">
			<a class="header__menu__item" href="#">Swann</a></a>
			<a class="header__menu__item" href="#">Professionel</a></a>
			<a class="header__menu__item" href="#">Particulier</a></a>
			<a class="header__menu__item" href="#">e-Formation</a></a>
			<a class="header__menu__item" href="#">Vidéos</a></a>
			<a class="header__menu__item" href="#">Articles</a></a>
			<a class="header__menu__item" href="#">Contact</a></a>
			<a class="btn-outline" href="#">Membres</a>
		</nav>
        
	</header>

	<section class="cover">
		<div class="cover-left">
		</div>
		<div class="cover-right">
			<div class="cover__caption">
					<h1>Votre vie est unique <br class="break" >Prenez -la en main! </h1>
					<p>It’s time to shake things up and how you can begin to change your life for the better.</p>
			</div>
		</div>
	</section>
	<section class="about">
		<div class="about__left flexitem-auto">
			<figure class="about__left__figure">
				<img class="about__left__image" src="/assets/img/swann_4.jpg" alt="Swann Xerri">
			</figure>
		</div>
		<div class="about__right flexitem-auto">
			<div class="about__copy">
				<h2>Swann Xerri</h2>
				<p class="subtitle">Achieve your personal goals with life coaching. Achieve your personal goals with life coaching.</p>
				<p>En tant que coach de vie, je suis spécialisé, depuis de nombreuses années, dans l’aide à des personnes comme vous, pour que vous puissiez atteindre vos objectifs, surmonter vos souffrances en les transformant en opportunités et réussir votre vie.
				Tout d’abord, vous voulez donner le meilleur de vous-même à votre famille ? à votre entreprise ? aux autres ?

				Très bien ! Mais c’est quoi le meilleur de vous-même ? C’est quand ? C’est comment ?
				Le monde que vous vivez n’existe que dans un seul endroit : votre cerveau.
				Le meilleur de vous-même ce ne peut donc être que vous-même, avec vos qualités, vos défauts, vos envies dans un lien positif avec la réalité qui vous entoure, avec les autres. Quand ? C’est quand vous êtes en éveil, en marche, en évolution
				</p>
			</div>
		</div>	
	</section>


	<section class="blog">
		<div class="container-center">
			<div class="title-section w100">
				<h2 class="">Conseils pour transformer votre vie</h2>
				<p class="subtitle">
				Achieve your personal goals with life coaching. Achieve your personal goals with life coaching.
				</p>
			</div>
			<div class="card">
				<img class="card__image"src="https://source.unsplash.com/category/nature/400x260" alt="Nature">
				<div class="card__copy">
					<h3 class="post-title">Comment faire face aux pensées négatives…</h3>
					<a href="#"><button class="read-more">EN SAVOIR PLUS</button></a>
				</div>
			</div>
			<div class="card">
				<img class="card__image"src="https://source.unsplash.com/category/food/400x260" alt="Nature">
				<div class="card__copy">
					<h3 class="post-title">Comment faire face aux pensées négatives…</h3>
					<a href="#"><button class="read-more">EN SAVOIR PLUS</button></a>
				</div>
			</div>
			<div class="card">
				<img class="card__image"src="https://source.unsplash.com/category/people/400x260" alt="Nature">
				<div class="card__copy">
					<h3 class="post-title">Comment faire face aux pensées négatives…</h3>
					<a href="#"><button class="read-more">EN SAVOIR PLUS</button></a>
				</div>
			</div>				
		</div>{# end container center #}
	</section>

	<section class="video">
		<div class="container-center">
			<div class="title-section w100">
				<h2 class="">Conseils d'ami</h2>
				<p class="subtitle">Pour vous rendre la vie plus légère, voici quelques conseils d'ami</p>
			</div>
			<div class="card-video">
				<iframe width="100%"  src="https://www.youtube.com/embed/aN9ZqoZ5LjU" frameborder="0" height="300px" controls="2" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="card-video">
				<iframe width="100%"  src="https://www.youtube.com/embed/aN9ZqoZ5LjU" frameborder="0"height="300px" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="card-video">
				<iframe width="100%"  src="https://www.youtube.com/embed/aN9ZqoZ5LjU" frameborder="0"height="300px" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			{# <button class="button buttonflex">YouTube</button>			 #}
		</div>{# end container center #}
	</section>

	<section class="coaching">
		<div class="container-center">
			<div class="card-coaching">
				<img class="coaching__image"src="https://source.unsplash.com/category/nature/400x260" alt="Nature">
				<div class="coaching__copy">
					<h3 class="post-title">Coaching en Entreprise</h3>
					<p>C’est donner aux dirigeants comme aux employés, la possibilité de progresser personnellement et faire bénéficier l’entreprise de cette évolution .C’est donner aux dirigeants comme aux employés, la possibilité de progresser personnellement et faire bénéficier l’entreprise de cette évolution .</p>
					<a href="#"><button class="read-more">EN SAVOIR PLUS</button></a>
				</div>
			</div>
			<div class="card-coaching">
				<img class="coaching__image"src="https://source.unsplash.com/category/food/400x260" alt="Nature">
				<div class="coaching__copy">
					<h3 class="post-title">Coaching Personnel</h3>
					<p>C’est un accompagnement concret, orienté vers l’écoute, la recherche de solutions et l’action. La personne agit concrétement en lien avec ses prises de conscience.C’est un accompagnement concret, orienté vers l’écoute, la recherche de solutions et l’action. La personne agit concrétement en lien avec ses prises de conscience.</p>
					<a href="#"><button class="read-more">EN SAVOIR PLUS</button></a>
				</div>
			</div>				
		</div>{# end container center #}
	</section>
	<section class="cta-ebook">
		<div class="cta-ebook__copy">
			<h1>Télécharger mon livre gratuit</h1>
			<p>Discover new creators and see their latest work.</p>
		</div>
		<form class="cta-ebook__form"action="">
		<input class="cta-ebook__input" type="email" placeholder="Votre courrier email"><!--
		--><input class="cta-ebook__submit" type="submit" value="télécharger">
		</form>
	</section>

	<section class="formation">
		<div class="formation__left flexitem-auto">
			<div class="formation__copy">
				<h2>e-Formation</h2>
				<p>Formez-vous à votre rythme grace a nos packs de coaching vidéo!
				</p>
				<a href="#"><button class="read-more">EN SAVOIR PLUS</button></a>
			</div>			
		</div>
		<div class="formation__right flexitem-auto">
			<figure class="formation__left__figure">
				<img class="formation__left__image" src="/assets/img/swann_3.jpg" alt="Swann Xerri">
			</figure>			
		</div>
	</section>

	<section class="feedback">
		<div class="container-center">
			<div class="title-section w100">
				<h2 class="">Témoignages</h2>
				<p class="subtitle">
				Achieve your personal goals with life coaching. Achieve your personal goals with life coaching.
				</p>
			</div>
			<div class="card-feedback">			
				<div class="card-feedback__copy">
					<p class="card-feedback__text">Last year I found myself in a deep depression and luckily I realized I need some help. I found information about Dr. Turner and started the therapy.He helped me to overcome all my difficulties and complex situation, showed me new positive sides of my life and was ready to listen to me. Together we managed to change my life for a better one. Now I can say I have positive thinking and new life!</p>
				</div>
				<div class="card-feedback__title">
					<div class="card-feedback__image">
						<figure>
							<img src="" alt="">
						</figure>
					</div>
					<div class="card-feedback__name">
						<h2>Karen Smith</h2>
						<p class="subtitle">Housewife</p>
					</div>
				</div>
			</div>
			<div class="card-feedback">
				<div class="card-feedback__copy">
				<p class="card-feedback__text">Last year I found myself in a deep depression and luckily I realized I need some help. I found information about Dr. Turner and started the therapy.He helped me to overcome all my difficulties and complex situation, showed me new positive sides of my life and was ready to listen to me. Together we managed to change my life for a better one. Now I can say I have positive thinking and new life!</p>
				</div>
				<div class="card-feedback__title">
					<div class="card-feedback__image">
						<figure>
							<img src="" alt="">
						</figure>
					</div>
					<div class="card-feedback__name">
						<h2>Karen Smith</h2>
						<p class="subtitle">Housewife</p>
					</div>
				</div>
			</div>
			<div class="card-feedback">
				<div class="card-feedback__copy">
				<p class="card-feedback__text">Last year I found myself in a deep depression and luckily I realized I need some help. I found information about Dr. Turner and started the therapy.He helped me to overcome all my difficulties and complex situation, showed me new positive sides of my life and was ready to listen to me. Together we managed to change my life for a better one. Now I can say I have positive thinking and new life!</p>
				</div>
				<div class="card-feedback__title">
					<div class="card-feedback__image">
						<figure>
							<img src="" alt="">
						</figure>
					</div>
					<div class="card-feedback__name">
						<h2>Karen Smith</h2>
						<p class="subtitle">Housewife</p>
					</div>
				</div>
			</div>				
		</div>{# end container center #}
	</section>
	<section class="cta">
		<div class="cta__text">
				<h1>Besoin d'un conseil ? </h1>
				<h2>I don’t know who you are, but I will find you and I will help you.</h2>
				<a href="" class="button"> contactez moi!</a>
			</div>
	</section>
	<section class="brand">
		<figure>
		<img src="/assets/img/brand-1.png" alt="brand 1">
		</figure>
		<figure>
		<img src="/assets/img/brand-2.png" alt="brand 1">
		</figure>
		<figure>
		<img src="/assets/img/brand-3.png" alt="brand 1">
		</figure>
		<figure>
		<img src="/assets/img/brand-4.png" alt="brand 1">
		</figure>
	</section>
<footer class="footer">
	<div class="footer-logo">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 362.55 262.84">
    <defs>
        <style>.a{fill:var(--white);}.b{fill:none;}.c{fill:var(--white);}</style>
    </defs>
    <title>LOGO SX FINAL01 19 10 2017</title>
    <path class="a" d="M16.49,234.34a3.2,3.2,0,0,0,.82-1.28c.12-.37.3-.55.53-.55a.6.6,0,0,1,.41.23c.11.55.26,1.65.46,3.31l.55,4.31c0,.27-.17.41-.51.41-.18,0-.34-.16-.48-.46a12.58,12.58,0,0,0-3.59-5,8,8,0,0,0-5.2-2A5.16,5.16,0,0,0,5.3,235a5.48,5.48,0,0,0-1.4,3.55,4.2,4.2,0,0,0,1.53,3.5,22.76,22.76,0,0,0,6.32,2.75A26.53,26.53,0,0,1,17,246.94,8.84,8.84,0,0,1,20,249.83a7.24,7.24,0,0,1,1.19,4,8.74,8.74,0,0,1-3,6.47,10.24,10.24,0,0,1-7.35,2.86,14.87,14.87,0,0,1-7.87-2.45,2.88,2.88,0,0,0-1,1.51c-.12.49-.32.73-.6.73s-.42-.31-.52-.93-.33-3.59-.67-8.88q.09-.27.48-.27c.23,0,.42.16.55.5Q4.7,262.2,11,262.2a6.42,6.42,0,0,0,4.91-1.89A6.13,6.13,0,0,0,17.7,256a5.48,5.48,0,0,0-.95-3.11,7.05,7.05,0,0,0-2.52-2.29,28.66,28.66,0,0,0-5-1.94A20,20,0,0,1,3.36,246a7.77,7.77,0,0,1-2.3-2.81,7.08,7.08,0,0,1-.73-3,7,7,0,0,1,2.75-5.4,10.08,10.08,0,0,1,6.77-2.36,11.41,11.41,0,0,1,3.17.48A17.54,17.54,0,0,1,16.49,234.34Z" transform="translate(-0.14 -0.39)" />
    <path class="a" d="M43.69,263.23H43q-1.09-2.37-2.55-5.88T35.55,246A86.37,86.37,0,0,0,31,236.7a7.84,7.84,0,0,0-1.94-2.11,3.88,3.88,0,0,0-1.58-.64c-.48,0-.71-.19-.71-.42s.58-.43,1.74-.43h10c.93,0,1.39.14,1.39.43s-.23.41-.68.42c-2,.11-3,.88-3,2.32a5.11,5.11,0,0,0,.25,1.31q.26.82,3.27,8.13t4.78,11.12q.7-1.77,3-8.56t2.76-8.53q-1.65-4.41-2.41-5a4.52,4.52,0,0,0-2.1-.72c-.62-.06-.94-.22-.94-.48s.56-.46,1.67-.46H56.4a4.86,4.86,0,0,1,1.13.08.38.38,0,0,1,.22.4c0,.22-.39.39-1.17.53-1.67.26-2.5,1.07-2.5,2.42q0,3.21,7.26,20c1-2.45,1.89-5,2.81-7.59l2.46-7a39.92,39.92,0,0,0,1.23-3.83,7.55,7.55,0,0,0,.15-1.42c0-1.84-1-2.77-2.89-2.8-.43,0-.64-.16-.64-.42a.33.33,0,0,1,.21-.35,4.81,4.81,0,0,1,1.17-.08H71.4c1.66,0,2.61,0,2.85.05a.37.37,0,0,1,.35.42c0,.24-.17.36-.52.38a4.78,4.78,0,0,0-3.94,2.74q-1.42,2.56-6.41,16.93-2.62,7.56-3.52,9.61h-.63q-1.86-5-3.6-9.2t-4.93-12.26Z" transform="translate(-0.14 -0.39)" />
    <path class="a" d="M89.65,232.12h1A191.91,191.91,0,0,1,97.76,250a80.12,80.12,0,0,0,4,10A4.16,4.16,0,0,0,105.2,262c.51,0,.76.22.76.51s-.13.32-.39.32l-.32,0c-1.41-.12-3.19-.18-5.36-.18q-5,0-6.41.16c-.47,0-.71-.14-.71-.41s.18-.32.53-.37a6.46,6.46,0,0,0,2.69-.66,1.65,1.65,0,0,0,.74-1.51A21.78,21.78,0,0,0,95.34,255L94,251q-1.18,0-10.64.13c-1.59,4.23-2.39,6.89-2.39,8a2.26,2.26,0,0,0,1.18,2.08,5.24,5.24,0,0,0,2.32.74c.57,0,.85.22.85.52q0,.18-.27.33c-2.45-.11-3.92-.16-4.42-.16-2.56,0-4.29,0-5.17.09-.49,0-.74-.14-.74-.41s.22-.4.64-.46q2.64-.35,4-3.57t4.35-11.6Q86.45,239.1,89.65,232.12Zm-.92,5a114.15,114.15,0,0,0-5,12.62c1.57-.07,2.7-.11,3.39-.11l6.43.11c-.56-1.58-1.36-3.69-2.38-6.31Q89.33,238.73,88.73,237.11Z" transform="translate(-0.14 -0.39)" />
    <path class="a" d="M119,232.87c.91,1.24,2.5,3.15,4.76,5.75L131,247.1l7.05,8.15c.16-2.76.23-6.35.23-10.75q0-5-.2-6.65a4.37,4.37,0,0,0-1.53-2.83,4.82,4.82,0,0,0-3.28-1.14c-.61,0-.92-.13-.92-.39a.35.35,0,0,1,.2-.33,21,21,0,0,1,3.08-.21c1.92-.06,3.54-.1,4.85-.1l3.09,0h.5c.48,0,.71.14.71.4s-.2.38-.61.43a5.74,5.74,0,0,0-3.33,1.2,4.22,4.22,0,0,0-1.22,2.74q-.19,1.79-.19,12l-.23,12.08c0,.61-.15.92-.45.92a.68.68,0,0,1-.31-.1,23.5,23.5,0,0,1-2.06-2.31c-1.23-1.48-2.76-3.24-4.56-5.3s-3.24-3.73-4.27-5c-2.28-2.76-3.71-4.46-4.31-5.1a39.72,39.72,0,0,1-3.91-4.53c-.26-.46-.5-.69-.71-.69s-.25.3-.25.9l0,3.54c0,4.5.13,8.09.37,10.78a17.47,17.47,0,0,0,.77,4.72A4.82,4.82,0,0,0,121,261a3.62,3.62,0,0,0,2.12.71c1,0,1.51.18,1.51.55s-.28.41-.85.41l-11,0c-.52,0-.77-.13-.77-.38s.25-.46.75-.46c1.88,0,3.13-.42,3.75-1.25s.94-2.6.94-5.29l-.19-8q0-7.11-.38-8.38a10.84,10.84,0,0,0-1.75-3.09,4.66,4.66,0,0,0-3.1-2c-.52-.07-.78-.2-.78-.42s.34-.43,1-.43Z" transform="translate(-0.14 -0.39)" />
    <path class="a" d="M157.87,232.87c.91,1.24,2.5,3.15,4.76,5.75L170,247.1l7.05,8.15c.16-2.76.23-6.35.23-10.75q0-5-.2-6.65A4.37,4.37,0,0,0,175.5,235a4.82,4.82,0,0,0-3.28-1.14c-.61,0-.92-.13-.92-.39a.35.35,0,0,1,.2-.33,21,21,0,0,1,3.08-.21c1.92-.06,3.54-.1,4.85-.1l3.09,0h.5c.48,0,.71.14.71.4s-.2.38-.61.43a5.74,5.74,0,0,0-3.33,1.2,4.22,4.22,0,0,0-1.22,2.74q-.19,1.79-.19,12l-.23,12.08c0,.61-.15.92-.45.92a.68.68,0,0,1-.31-.1,23.5,23.5,0,0,1-2.06-2.31c-1.23-1.48-2.76-3.24-4.56-5.3s-3.24-3.73-4.27-5c-2.28-2.76-3.71-4.46-4.31-5.1a39.72,39.72,0,0,1-3.91-4.53c-.26-.46-.5-.69-.71-.69s-.25.3-.25.9l0,3.54c0,4.5.13,8.09.37,10.78a17.47,17.47,0,0,0,.77,4.72,4.82,4.82,0,0,0,1.39,1.41,3.62,3.62,0,0,0,2.12.71c1,0,1.51.18,1.51.55s-.28.41-.85.41l-11,0c-.51,0-.77-.13-.77-.38s.25-.46.75-.46c1.88,0,3.13-.42,3.76-1.25s.93-2.6.93-5.29l-.18-8q0-7.11-.39-8.38a10.84,10.84,0,0,0-1.75-3.09,4.66,4.66,0,0,0-3.1-2c-.52-.07-.78-.2-.78-.42s.34-.43,1-.43Z" transform="translate(-0.14 -0.39)" />
    <path class="a" d="M221.91,245q1.13-1.35,3-4.09a33.27,33.27,0,0,0,2.29-3.51,3.29,3.29,0,0,0,.37-1.4,1.72,1.72,0,0,0-.88-1.54,4.21,4.21,0,0,0-1.91-.61c-.66,0-1-.21-1-.5s.47-.39,1.42-.39h9.59a5.29,5.29,0,0,1,1.18.07.31.31,0,0,1,.22.34c0,.26-.29.4-.87.44a7,7,0,0,0-3.91,1.41,30.18,30.18,0,0,0-5,5.69q-3.23,4.37-3.59,5.1,6.66,10,9.4,12.91c1.84,2,3.52,3,5.06,3.05.55,0,.83.19.83.5s-.29.39-.87.39c-.25,0-.87,0-1.88-.09-1.43-.09-2.78-.14-4-.14q-3.2,0-6.11.14l-.73,0c-.73,0-1.1-.13-1.1-.39s.2-.46.59-.46c1.94,0,2.91-.6,2.91-1.81s-2.24-4.82-6.73-10.66a46.19,46.19,0,0,0-3.67,4.95q-2.94,4.28-2.94,5.37c0,.52.37,1,1.11,1.37a7.09,7.09,0,0,0,2.82.74c.57,0,.85.19.85.44s-.27.43-.8.43l-.85,0-4.67-.11c-2.74,0-4.63,0-5.65.16q-1,0-1-.45c0-.28.23-.42.71-.42a7,7,0,0,0,2.85-.57,6.28,6.28,0,0,0,2.17-1.57q.89-1,3.9-5.27c2-2.84,3.41-4.88,4.19-6.12q-7.87-11.49-9.69-13a7.08,7.08,0,0,0-4.13-1.61c-.42,0-.62-.18-.62-.45s.38-.4,1.14-.4h12a3.92,3.92,0,0,1,1,.08.41.41,0,0,1,0,.69,7.35,7.35,0,0,1-1.51.17,2.47,2.47,0,0,0-1.33.49,1.24,1.24,0,0,0-.55,1c0,.44.74,1.79,2.2,4A57,57,0,0,0,221.91,245Z" transform="translate(-0.14 -0.39)" />
    <path class="a" d="M268.42,233a66.05,66.05,0,0,1,1.3,7.18c-.07.12-.15.19-.24.19a.54.54,0,0,1-.34-.19,18.57,18.57,0,0,0-3-3.86,9.22,9.22,0,0,0-2.9-1.89,15.36,15.36,0,0,0-5-.56,28.21,28.21,0,0,0-5.29.39,1.41,1.41,0,0,0-.18.84c0,.11,0,.3-.05.57q-.23,1.83-.23,9.91c0,.23,0,.55,0,1,1.16.05,2,.07,2.38.07a7.79,7.79,0,0,0,4.18-.86,7.08,7.08,0,0,0,2.26-3.71c.11-.32.26-.49.45-.49s.43.23.43.67l-.09.92c-.12,1.2-.18,2.45-.18,3.73,0,2.08,0,3.95.11,5.62,0,.52-.13.78-.42.78s-.34-.19-.42-.55a6,6,0,0,0-2-3.89q-1.53-1.19-6.68-1.19c0,1.11-.07,2.91-.07,5.4a33.07,33.07,0,0,0,.34,6.13,3.36,3.36,0,0,0,1.65,2.07,9.3,9.3,0,0,0,4.42.77q8.91,0,11.5-6.13c.21-.51.43-.76.66-.76s.36.17.36.5a2,2,0,0,1-.11.6c-.09.29-.32,1.37-.67,3.25q-.1.59-.87,3.57l-9.59,0c-1.37,0-3.39-.05-6-.17s-5-.17-7.08-.18a18.29,18.29,0,0,1-3.21-.13.33.33,0,0,1-.14-.25c0-.3.25-.46.76-.46,1.69,0,2.8-.45,3.34-1.35s.8-3.08.8-6.56l0-4.68.06-4.39c0-.88,0-2.56-.14-5a39.27,39.27,0,0,0-.28-4.21,2,2,0,0,0-.71-1,7,7,0,0,0-2.57-1q-.6-.17-.6-.51c0-.27.27-.41.8-.41l4.67.25q2.48.12,12.16.12C266.16,233,268.33,233,268.42,233Z" transform="translate(-0.14 -0.39)" />
    <path class="a" d="M295.81,247.32a12,12,0,0,1,4.43,2.88,10.35,10.35,0,0,1,1.83,4.64c.51,2.74,1.23,4.59,2.14,5.53a5,5,0,0,0,3.58,1.51c.41,0,.61.18.61.45s-.23.4-.71.4q-6.4,0-7.77-.42t-2-4.68a35.2,35.2,0,0,0-1.3-6,5.71,5.71,0,0,0-2.15-2.93,8.22,8.22,0,0,0-4.61-1,16.41,16.41,0,0,0-2.7.25c-.08,1-.12,2-.12,3,0,3.92.06,6.45.16,7.6a3.17,3.17,0,0,0,3.69,3.34c.55,0,.82.15.82.4s-.33.45-1,.45H279.36q-1,0-1-.45c0-.26.26-.4.78-.4a4.07,4.07,0,0,0,2.41-.52,3.48,3.48,0,0,0,1.07-1.64,13.82,13.82,0,0,0,.39-4l0-4.66,0-7.11a63.41,63.41,0,0,0-.25-7.2,4.24,4.24,0,0,0-.85-2.37,5.74,5.74,0,0,0-2.86-.94c-.33-.05-.49-.18-.49-.39s.33-.37,1-.37l13.55-.3q5.61,0,8.14,2.15a6.8,6.8,0,0,1,1.51,8.85,6.44,6.44,0,0,1-2.42,2.35A27.33,27.33,0,0,1,295.81,247.32Zm-8.67-.58a33.43,33.43,0,0,0,6.59-.62,7,7,0,0,0,3.74-2.31,6.26,6.26,0,0,0,1.55-4.23,6.52,6.52,0,0,0-1.72-4.51q-1.71-1.92-5.49-1.92a21.14,21.14,0,0,0-4.56.55q-.27,6.28-.27,10C287,244.57,287,245.58,287.14,246.74Z" transform="translate(-0.14 -0.39)" />
    <path class="a" d="M331.31,247.32a12,12,0,0,1,4.43,2.88,10.35,10.35,0,0,1,1.83,4.64c.51,2.74,1.23,4.59,2.14,5.53a5,5,0,0,0,3.58,1.51c.41,0,.61.18.61.45s-.23.4-.71.4q-6.4,0-7.77-.42t-2-4.68a35.2,35.2,0,0,0-1.3-6,5.71,5.71,0,0,0-2.15-2.93,8.22,8.22,0,0,0-4.61-1,16.41,16.41,0,0,0-2.7.25c-.08,1-.12,2-.12,3,0,3.92.06,6.45.16,7.6a3.17,3.17,0,0,0,3.69,3.34c.55,0,.82.15.82.4s-.33.45-1,.45H314.86q-1,0-1-.45c0-.26.26-.4.78-.4a4.07,4.07,0,0,0,2.41-.52,3.48,3.48,0,0,0,1.07-1.64,13.82,13.82,0,0,0,.39-4l0-4.66,0-7.11a63.41,63.41,0,0,0-.25-7.2,4.24,4.24,0,0,0-.85-2.37,5.74,5.74,0,0,0-2.86-.94c-.33-.05-.49-.18-.49-.39s.33-.37,1-.37l13.55-.3q5.61,0,8.14,2.15a6.8,6.8,0,0,1,1.51,8.85,6.44,6.44,0,0,1-2.42,2.35A27.33,27.33,0,0,1,331.31,247.32Zm-8.67-.58a33.43,33.43,0,0,0,6.59-.62,7,7,0,0,0,3.74-2.31,6.26,6.26,0,0,0,1.55-4.23,6.52,6.52,0,0,0-1.72-4.51q-1.71-1.92-5.49-1.92a21.14,21.14,0,0,0-4.56.55q-.27,6.28-.27,10C322.48,244.57,322.53,245.58,322.64,246.74Z" transform="translate(-0.14 -0.39)" />
    <path class="a" d="M351,232.48l4.18.1,6.4-.1c.76,0,1.14.16,1.14.46s-.2.38-.61.44q-2.55.31-3.18,1.83c-.42,1-.62,4.73-.62,11.16q0,3.56.18,8a39.42,39.42,0,0,0,.41,5.3,2.68,2.68,0,0,0,.87,1.42,4.71,4.71,0,0,0,2.38.78c.38,0,.57.19.57.43s-.17.42-.52.42l-5.69,0-4.84.07c-.54,0-.8-.15-.8-.46s.21-.48.64-.48c1.42,0,2.25-.5,2.49-1.42s.37-3.83.37-8.76q0-7.14-.13-11.55t-.74-5.4a3.11,3.11,0,0,0-2.34-1.24c-.42-.07-.64-.25-.64-.52S350.65,232.48,351,232.48Z" transform="translate(-0.14 -0.39)" />
    <path class="b" d="M82.15,9.33a32.82,32.82,0,0,0-6.23,4.29,30.28,30.28,0,0,0-4.51,5A49.72,49.72,0,0,1,82.15,9.33Z" transform="translate(-0.14 -0.39)" />
    <path d="M127,184.84a58.58,58.58,0,0,0,21-10.18,49.57,49.57,0,0,0,13.75-16.54,47.28,47.28,0,0,0,5-21.88q0-18.06-9.52-30.14T130.36,87.65c-3.22-1.18-6.31-2.29-9.27-3.3s-5.89-2-8.76-2.93-5.8-1.91-8.76-2.93-6.14-2.2-9.52-3.56Q81.09,70.1,73,62a26.9,26.9,0,0,1-4-5.1A25.07,25.07,0,0,1,63.1,41.93a33.08,33.08,0,0,1,8.31-23.36,30.28,30.28,0,0,1,4.51-5,32.82,32.82,0,0,1,6.23-4.29A69.85,69.85,0,0,1,99.93,1.11l1-.64A83.58,83.58,0,0,0,80,3.57a57.15,57.15,0,0,0-19.55,9.79A48.66,48.66,0,0,0,47,29.9q-5,9.93-5,23.66A42.25,42.25,0,0,0,44.73,69a52.76,52.76,0,0,0,7.39,13.23A51.32,51.32,0,0,0,62.81,92.61a54.89,54.89,0,0,0,12.72,7q5.86,2.3,10.06,3.69c2.8.93,5.51,1.87,8.15,2.8s5.47,1.91,8.52,2.92,6.62,2.29,10.7,3.82a101.12,101.12,0,0,1,11.45,5.09,37.57,37.57,0,0,1,9.29,6.74,29.38,29.38,0,0,1,6.24,9.28,31.43,31.43,0,0,1,2.29,12.47q0,17.55-11.71,27.86a36.56,36.56,0,0,1-4.44,3.31,69.23,69.23,0,0,1-20.7,10.4A98.59,98.59,0,0,0,127,184.84Z" transform="translate(-0.14 -0.39)" />
    <path class="c" d="M104.77,188l.29.07.32-.09Z" transform="translate(-0.14 -0.39)" />
    <path class="c" d="M102.23,188.08h2.83l-.29-.07C103.93,188,103.08,188.07,102.23,188.08Z" transform="translate(-0.14 -0.39)" />
    <path class="c" d="M101,.42l-.07,0,1.32,0Z" transform="translate(-0.14 -0.39)" />
    <polygon points="284.9 187.72 316.91 187.72 300.52 161.94 284.9 187.72" />
    <polygon points="313.88 0.04 285.13 0.04 299.33 23.41 313.88 0.04" />
    <polygon points="193.96 0.04 166.05 0.04 225.04 93.42 165.84 187.69 193.89 187.69 253.11 93.42 193.96 0.04" />
    <path class="c" d="M103.28.39c-.35,0-.69,0-1,0h2.63C104.34.42,103.83.39,103.28.39Z" transform="translate(-0.14 -0.39)" />
    <path d="M41.06,161.86l.36,23.75v2.47H67.77C48.77,188.08,41.06,161.86,41.06,161.86Z" transform="translate(-0.14 -0.39)" />
</svg>
	</div>
	<div class="footer-section">
		<h2>contact</h2>
			<ul>
				<li>+44 3069 990134</li>
				<li>info@swannxerri.fr</li>
				<li>44 Rue Pigalle <br>
				13000 Marseille</li>
			</ul>
	</div>
	<div class="footer-section">
		<h2>contact</h2>
		<ul>
			<li>Exemple de texte</li>
			<li>Exemple de texte</li>
			<li>Exemple de texte</li>
			<li>Exemple de texte</li>
			<li>Exemple de texte</li>
		</ul>
	</div>
	<div class="footer-section">
		<h2>contact</h2>
		<ul>
			<li>Exemple de texte</li>
			<li>Exemple de texte</li>
			<li>Exemple de texte</li>
			<li>Exemple de texte</li>
			<li>Exemple de texte</li>
		</ul>
	</div>
	<div class="footer-section">
		<h2>Social</h2>
		<ul>
			<li>Facebook</li>
			<li>Linkedin</li>
			<li>Instagram</li>
			<li>YouTube</li>
		</ul>
	</div>
	<div class="footer-section">
		<h2>Newsletter</h2>
		<p>Subscribe to get updates right in your inbox. <br>We promise to not send you spams.</p>
		<form class="footer__form"action="">
		<input class="footer__input" type="email" placeholder="Votre courrier email"><!--
		--><input class="footer__submit" type="submit" value="submit">
		</form>
	</div>
</footer>


        {% block body %}{% endblock %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <script src="{{ absolute_url(asset('assets/js/script.js')) }}"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>