<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome ciaone{% endblock %}</title>
        {% block stylesheets %}
            {# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> #}
			<link href="https://fonts.googleapis.com/css?family=Montserrat:300,700|Playfair+Display:400,700" rel="stylesheet">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />  
            <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/style.css')) }}">            
        {% endblock %}        
    </head>
<body>

	<header class="header ">
		<a href="#" class="header__logo">
			<svg id="logo-svg" data-name="logo-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 540.7 46.4">
			<defs><style>.cls-1{fill:#1d1d1b;}</style></defs>
			<title>Logo Swann Xerri</title>
			<path class="cls-1" d="M24.73,3.43A4.71,4.71,0,0,0,26,1.52c.18-.55.45-.82.79-.82a.93.93,0,0,1,.61.34c.16.82.39,2.47.69,4.94l.81,6.42c0,.41-.25.61-.75.61-.27,0-.51-.22-.71-.68A18.75,18.75,0,0,0,22,4.89,11.94,11.94,0,0,0,14.29,2c-2.76,0-4.83.83-6.23,2.49A8.08,8.08,0,0,0,6,9.74,6.28,6.28,0,0,0,8.24,15q2.3,1.8,9.43,4.09a39.3,39.3,0,0,1,7.87,3.18,13,13,0,0,1,4.38,4.29,10.78,10.78,0,0,1,1.78,5.94,13.07,13.07,0,0,1-4.47,9.66,15.31,15.31,0,0,1-11,4.26A22.27,22.27,0,0,1,4.52,42.73,4.37,4.37,0,0,0,3,45c-.18.73-.48,1.09-.89,1.09s-.62-.46-.78-1.4-.49-5.34-1-13.23c.09-.28.33-.41.72-.41s.61.25.81.75Q7.16,45,16.57,45a9.61,9.61,0,0,0,7.33-2.81,9.18,9.18,0,0,0,2.64-6.47,8.2,8.2,0,0,0-1.41-4.64,10.66,10.66,0,0,0-3.76-3.41A44,44,0,0,0,14,24.75c-4.32-1.39-7.27-2.7-8.82-3.94a11.77,11.77,0,0,1-3.44-4.2A10.76,10.76,0,0,1,.63,12.09q0-4.53,4.12-8A15,15,0,0,1,14.83.53a17.24,17.24,0,0,1,4.73.71A25.92,25.92,0,0,1,24.73,3.43Z" transform="translate(-0.36 -0.12)"/>
			<path class="cls-1" d="M65.3,46.52h-1Q62.65,43,60.47,37.75T53.16,20.88Q48,9.23,46.44,6.94a11.36,11.36,0,0,0-2.9-3.13,5.46,5.46,0,0,0-2.36-1c-.7-.07-1.06-.28-1.06-.64s.87-.63,2.6-.63H57.6c1.39,0,2.09.21,2.09.63s-.34.61-1,.64q-4.39.24-4.4,3.46a7.09,7.09,0,0,0,.37,2Q55,9.5,59.51,20.38T66.63,37q1.07-2.62,4.5-12.75t4.12-12.72q-2.46-6.6-3.6-7.43A6.53,6.53,0,0,0,68.53,3c-.94-.09-1.4-.33-1.4-.71s.83-.69,2.49-.69H84.27a6.81,6.81,0,0,1,1.67.12c.23.08.34.28.34.6s-.58.58-1.75.79C82,3.47,80.8,4.68,80.8,6.7q0,4.78,10.82,29.85,2.14-5.49,4.19-11.32l3.68-10.37q1.61-4.57,1.83-5.72A11.05,11.05,0,0,0,101.54,7c0-2.74-1.43-4.14-4.3-4.18-.64,0-1-.24-1-.64a.5.5,0,0,1,.31-.51,7,7,0,0,1,1.74-.12h8.3c2.48,0,3.89,0,4.25.07a.57.57,0,0,1,.53.64c0,.35-.27.53-.79.56a7.11,7.11,0,0,0-5.87,4.09q-2.11,3.83-9.55,25.25-3.93,11.25-5.26,14.33H89Q86.23,39,83.63,32.8T76.28,14.51Z" transform="translate(-0.36 -0.12)"/>
			<path class="cls-1" d="M133.84.12h1.58q3.81,7.82,10.52,26.71,4.32,12.12,5.93,14.86A6.21,6.21,0,0,0,157,44.74c.75.07,1.13.32,1.13.75s-.19.48-.58.48l-.48,0q-3.13-.28-8-.28-7.44,0-9.55.24c-.71,0-1.06-.2-1.06-.61s.26-.48.78-.55a9.55,9.55,0,0,0,4-1,2.47,2.47,0,0,0,1.11-2.25q0-1.47-2.08-7.33l-2-5.87q-1.77,0-15.87.2-3.56,9.45-3.56,11.92a3.36,3.36,0,0,0,1.76,3.11,8,8,0,0,0,3.47,1.11c.84.07,1.26.32,1.26.76,0,.18-.14.35-.41.5q-5.46-.24-6.59-.24c-3.82,0-6.4.05-7.72.14-.72,0-1.09-.2-1.09-.61s.32-.6,1-.69q3.93-.51,6-5.32T125,21.88Q129.07,10.53,133.84.12Zm-1.36,7.43a173.45,173.45,0,0,0-7.42,18.84c2.35-.12,4-.17,5.06-.17l9.59.17q-1.26-3.55-3.55-9.42Q133.37,10,132.48,7.55Z" transform="translate(-0.36 -0.12)"/>
			<path class="cls-1" d="M177.56,1.24q2,2.77,7.1,8.57l10.92,12.65L206.1,34.61q.33-6.18.34-16a98.93,98.93,0,0,0-.31-9.91,6.44,6.44,0,0,0-2.27-4.21A7.19,7.19,0,0,0,199,2.74c-.91,0-1.36-.19-1.36-.58a.51.51,0,0,1,.29-.49,31.69,31.69,0,0,1,4.59-.31q4.31-.15,7.24-.15l4.6,0h.75c.71,0,1.06.2,1.06.6s-.3.56-.92.63a8.64,8.64,0,0,0-5,1.79,6.31,6.31,0,0,0-1.8,4.08q-.3,2.67-.29,17.93l-.34,18c0,.91-.22,1.36-.67,1.36a1.09,1.09,0,0,1-.47-.15,35.4,35.4,0,0,1-3.07-3.45q-2.76-3.29-6.81-7.89c-2.69-3.07-4.82-5.57-6.36-7.48q-5.09-6.17-6.42-7.6a58.83,58.83,0,0,1-5.84-6.76c-.39-.68-.74-1-1.06-1s-.37.44-.37,1.33l.07,5.29q0,10.07.54,16.06t1.15,7a7.06,7.06,0,0,0,2.08,2.1,5.38,5.38,0,0,0,3.16,1.06c1.5,0,2.25.27,2.25.82,0,.4-.42.61-1.26.61l-16.43,0c-.77,0-1.16-.2-1.16-.58s.38-.69,1.13-.69q4.2,0,5.6-1.86t1.4-7.89l-.28-12q0-10.61-.57-12.5a16.08,16.08,0,0,0-2.62-4.61,6.9,6.9,0,0,0-4.62-3.05c-.78-.09-1.16-.3-1.16-.62s.5-.65,1.5-.65Z" transform="translate(-0.36 -0.12)"/>
			<path class="cls-1" d="M235.59,1.24q2,2.77,7.1,8.57l10.92,12.65,10.52,12.15q.33-6.18.34-16a98.93,98.93,0,0,0-.31-9.91,6.44,6.44,0,0,0-2.27-4.21A7.19,7.19,0,0,0,257,2.74c-.91,0-1.36-.19-1.36-.58a.51.51,0,0,1,.29-.49,31.69,31.69,0,0,1,4.59-.31q4.31-.15,7.24-.15l4.6,0h.75c.71,0,1.06.2,1.06.6s-.3.56-.92.63a8.64,8.64,0,0,0-5,1.79,6.31,6.31,0,0,0-1.8,4.08q-.3,2.67-.29,17.93l-.34,18c0,.91-.22,1.36-.67,1.36a1.09,1.09,0,0,1-.47-.15,35.4,35.4,0,0,1-3.07-3.45q-2.76-3.29-6.81-7.89c-2.69-3.07-4.82-5.57-6.36-7.48q-5.09-6.17-6.42-7.6a58.83,58.83,0,0,1-5.84-6.76c-.39-.68-.74-1-1.06-1s-.37.44-.37,1.33l.07,5.29q0,10.07.54,16.06t1.15,7a7.06,7.06,0,0,0,2.08,2.1,5.38,5.38,0,0,0,3.16,1.06c1.5,0,2.25.27,2.25.82,0,.4-.42.61-1.26.61l-16.43,0c-.77,0-1.16-.2-1.16-.58s.38-.69,1.13-.69q4.2,0,5.6-1.86t1.4-7.89l-.28-12q0-10.61-.57-12.5a16.08,16.08,0,0,0-2.62-4.61,6.9,6.9,0,0,0-4.62-3.05c-.78-.09-1.16-.3-1.16-.62s.5-.65,1.5-.65Z" transform="translate(-0.36 -0.12)"/>
			<path class="cls-1" d="M331.1,19.37q1.66-2,4.54-6.09A50.47,50.47,0,0,0,339.05,8,5.09,5.09,0,0,0,339.6,6a2.54,2.54,0,0,0-1.32-2.3,6.1,6.1,0,0,0-2.85-.91Q334,2.65,334,2c0-.38.71-.58,2.12-.58h14.31a8,8,0,0,1,1.75.11.46.46,0,0,1,.33.51c0,.38-.43.6-1.3.65a10.38,10.38,0,0,0-5.82,2.11q-2.69,2-7.49,8.49t-5.36,7.6q9.93,14.85,14,19.25t7.54,4.54q1.23.07,1.23.75c0,.39-.43.58-1.3.58-.36,0-1.29,0-2.8-.13q-3.21-.21-6-.21-4.79,0-9.12.21c-.36,0-.73,0-1.09,0-1.09,0-1.64-.19-1.64-.58s.29-.68.89-.68q4.33,0,4.33-2.7T328.54,26a69.16,69.16,0,0,0-5.48,7.39q-4.4,6.38-4.39,8c0,.77.55,1.46,1.66,2a10.63,10.63,0,0,0,4.21,1.09c.84.07,1.26.29,1.26.67s-.39.63-1.19.63l-1.26,0-7-.17q-6.13,0-8.43.24c-.95,0-1.43-.22-1.43-.66s.35-.63,1.05-.63a10.34,10.34,0,0,0,4.25-.86,9.32,9.32,0,0,0,3.25-2.34q1.31-1.48,5.82-7.85t6.25-9.13Q315.4,7.29,312.68,5.08a10.55,10.55,0,0,0-6.16-2.4c-.62-.05-.93-.27-.93-.67s.57-.6,1.71-.6h18a5.43,5.43,0,0,1,1.55.12.53.53,0,0,1,.26.53.52.52,0,0,1-.31.5,10,10,0,0,1-2.25.25,3.61,3.61,0,0,0-2,.74A1.8,1.8,0,0,0,321.71,5q0,1,3.28,6A84.5,84.5,0,0,0,331.1,19.37Z" transform="translate(-0.36 -0.12)"/>
			<path class="cls-1" d="M400.46,1.41a100.48,100.48,0,0,1,2,10.72.47.47,0,0,1-.37.27.76.76,0,0,1-.5-.27A28.31,28.31,0,0,0,397,6.36a13.71,13.71,0,0,0-4.33-2.81q-2.16-.84-7.46-.84a41.89,41.89,0,0,0-7.89.58,2.11,2.11,0,0,0-.27,1.26c0,.16,0,.44-.07.85q-.35,2.73-.34,14.78c0,.34,0,.82.06,1.43,1.73.07,2.92.1,3.56.1q4.31,0,6.23-1.28c1.29-.86,2.41-2.7,3.37-5.54.16-.48.38-.72.68-.72s.64.33.64,1l-.14,1.37c-.18,1.8-.27,3.66-.27,5.57q0,4.65.17,8.38c0,.77-.21,1.16-.63,1.16s-.51-.27-.62-.82a9,9,0,0,0-3-5.8q-2.29-1.77-10-1.77c-.06,1.66-.1,4.34-.1,8.05q0,7.2.51,9.14a5,5,0,0,0,2.46,3.09q1.95,1.14,6.6,1.14,13.29,0,17.15-9.14c.31-.75.64-1.12,1-1.12s.54.25.54.75a2.48,2.48,0,0,1-.17.88c-.13.44-.46,2.05-1,4.85q-.17.88-1.29,5.32l-14.31,0q-3.08,0-9-.25t-10.55-.27a28.1,28.1,0,0,1-4.79-.19.5.5,0,0,1-.21-.38c0-.45.38-.68,1.13-.68,2.52,0,4.19-.67,5-2s1.2-4.6,1.2-9.78l0-7,.11-6.55q0-2-.23-7.48c-.14-3.67-.28-5.77-.4-6.29a3.16,3.16,0,0,0-1.06-1.55,10.59,10.59,0,0,0-3.84-1.55c-.6-.16-.89-.41-.89-.75s.4-.62,1.19-.62l7,.38q3.69.17,18.13.17Q400.25,1.38,400.46,1.41Z" transform="translate(-0.36 -0.12)"/>
			<path class="cls-1" d="M441.32,22.79q4.74,2.05,6.59,4.29A15.31,15.31,0,0,1,450.65,34c.76,4.1,1.83,6.85,3.19,8.26a7.54,7.54,0,0,0,5.34,2.25c.61,0,.91.27.91.67s-.35.6-1,.6q-9.57,0-11.59-.63c-1.36-.43-2.37-2.75-3-7a53.81,53.81,0,0,0-1.93-9,8.66,8.66,0,0,0-3.21-4.36c-1.47-1-3.76-1.52-6.88-1.52a24.69,24.69,0,0,0-4,.37c-.11,1.43-.17,2.92-.17,4.46q0,8.76.24,11.33a5.8,5.8,0,0,0,1.45,3.75,5.89,5.89,0,0,0,4,1.24q1.23,0,1.23.6t-1.5.66h-16.9q-1.47,0-1.47-.66c0-.4.39-.6,1.16-.6a6.16,6.16,0,0,0,3.61-.78,5.16,5.16,0,0,0,1.58-2.44,20.5,20.5,0,0,0,.59-6l-.07-7,0-10.6a99.38,99.38,0,0,0-.36-10.74,6.23,6.23,0,0,0-1.28-3.53c-.61-.6-2-1.07-4.27-1.41-.47-.07-.71-.26-.71-.58s.48-.55,1.43-.55L437.22.39q8.37,0,12.14,3.2a9.93,9.93,0,0,1,3.77,7.84,9.92,9.92,0,0,1-1.52,5.36A9.56,9.56,0,0,1,448,20.3,41.42,41.42,0,0,1,441.32,22.79Zm-12.94-.87a50.16,50.16,0,0,0,9.83-.92,10.5,10.5,0,0,0,5.58-3.45,9.31,9.31,0,0,0,2.31-6.31,9.79,9.79,0,0,0-2.56-6.72q-2.57-2.86-8.2-2.87a31.61,31.61,0,0,0-6.79.82q-.41,9.39-.41,14.94C428.14,18.69,428.22,20.19,428.38,21.92Z" transform="translate(-0.36 -0.12)"/>
			<path class="cls-1" d="M494.26,22.79q4.74,2.05,6.6,4.29A15.43,15.43,0,0,1,503.59,34q1.16,6.15,3.19,8.26a7.54,7.54,0,0,0,5.34,2.25c.61,0,.92.27.92.67s-.36.6-1.06.6q-9.56,0-11.59-.63c-1.35-.43-2.36-2.75-3-7a53.81,53.81,0,0,0-1.93-9,8.55,8.55,0,0,0-3.21-4.36c-1.47-1-3.76-1.52-6.88-1.52a24.89,24.89,0,0,0-4,.37c-.11,1.43-.17,2.92-.17,4.46q0,8.76.24,11.33a5.8,5.8,0,0,0,1.45,3.75,5.92,5.92,0,0,0,4.05,1.24q1.23,0,1.23.6c0,.44-.5.66-1.51.66H469.72q-1.47,0-1.47-.66c0-.4.39-.6,1.16-.6a6.1,6.1,0,0,0,3.6-.78,5.25,5.25,0,0,0,1.59-2.44,20.59,20.59,0,0,0,.58-6l-.07-7,0-10.6a103.18,103.18,0,0,0-.35-10.74,6.3,6.3,0,0,0-1.28-3.53c-.62-.6-2-1.07-4.27-1.41-.48-.07-.72-.26-.72-.58S469,.83,470,.83L490.17.39q8.35,0,12.13,3.2a9.9,9.9,0,0,1,3.77,7.84,9.91,9.91,0,0,1-1.51,5.36A9.65,9.65,0,0,1,501,20.3,41.05,41.05,0,0,1,494.26,22.79Zm-12.94-.87a50.37,50.37,0,0,0,9.84-.92,10.57,10.57,0,0,0,5.58-3.45,9.35,9.35,0,0,0,2.3-6.31,9.75,9.75,0,0,0-2.56-6.72q-2.57-2.86-8.19-2.87a31.62,31.62,0,0,0-6.8.82q-.4,9.39-.41,14.94C481.08,18.69,481.16,20.19,481.32,21.92Z" transform="translate(-0.36 -0.12)"/>
			<path class="cls-1" d="M523.58.66l6.23.14,9.54-.14c1.14,0,1.71.23,1.71.68s-.31.56-.92.65c-2.53.32-4.1,1.23-4.73,2.73s-.94,7.05-.94,16.65q0,5.29.27,11.91a58.82,58.82,0,0,0,.62,7.91,4.08,4.08,0,0,0,1.3,2.12,7.17,7.17,0,0,0,3.55,1.16c.57.07.85.28.85.65s-.26.61-.79.61l-8.48-.07-7.22.11c-.8,0-1.19-.23-1.19-.69s.31-.71,1-.71c2.12,0,3.36-.75,3.72-2.12s.55-5.72.55-13.07q0-10.63-.19-17.23c-.12-4.38-.49-7.07-1.11-8a4.64,4.64,0,0,0-3.48-1.84q-1-.17-1-.78C522.86.87,523.1.66,523.58.66Z" transform="translate(-0.36 -0.12)"/></svg>
		</a>
		<a href="#" class="header__icon-bar">
			<span></span>
			<span></span>
			<span></span>
		</a>
		<nav class="header__menu animate">
			<a class="first header__menu__item" href="#">Accueil</a></a>
			<a class="second header__menu__item" href="#">Swann</a></a>
			<a class="third header__menu__item" href="#">Professionel</a></a>
			<a class="fourth header__menu__item" href="#">Particulier</a></a>
			<a class="fifth fifth header__menu__item" href="#">e-Formation</a></a>
			<a class="sixth header__menu__item" href="#">Vidéos</a></a>
			<a class="seventh header__menu__item" href="#">Articles</a></a>
			<hr>
		</nav>
        <a class="btn-outline" href="#">Membres</a>
	</header>

	<section class="cover">
		<div class="cover-left">
			<div class="cover__filter"></div>
		</div>
		<div class="cover-right">
			<div class="cover__caption">
					<h1>Votre vie est unique <br class="break" >Prenez -la en main! </h1>
					<p>It’s time to shake things up and how you can begin to change your life for the better.</p>
			</div>
		</div>
	</section>
	<section class="about">
		<div class="about__left flexitem-auto">
			<figure class="about__left__figure">
				<img class="about__left__image" src="/assets/img/swann_4.jpg" alt="Swann Xerri">
			</figure>
		</div>
		<div class="about__right flexitem-auto">
			<div class="about__copy">
				<h2>Swann Xerri</h2>
				<p class="subtitle">Achieve your personal goals with life coaching. Achieve your personal goals with life coaching.</p>
				<p>En tant que coach de vie, je suis spécialisé, depuis de nombreuses années, dans l’aide à des personnes comme vous, pour que vous puissiez atteindre vos objectifs, surmonter vos souffrances en les transformant en opportunités et réussir votre vie.
				Tout d’abord, vous voulez donner le meilleur de vous-même à votre famille ? à votre entreprise ? aux autres ?

				Très bien ! Mais c’est quoi le meilleur de vous-même ? C’est quand ? C’est comment ?
				Le monde que vous vivez n’existe que dans un seul endroit : votre cerveau.
				Le meilleur de vous-même ce ne peut donc être que vous-même, avec vos qualités, vos défauts, vos envies dans un lien positif avec la réalité qui vous entoure, avec les autres. Quand ? C’est quand vous êtes en éveil, en marche, en évolution
				</p>
			</div>
		</div>	
	</section>


	<section class="blog">
		<div class="container-center">
			<div class="title-section w100">
				<h2 class="">Conseils pour transformer votre vie</h2>
				<p class="subtitle">
				Achieve your personal goals with life coaching. Achieve your personal goals with life coaching.
				</p>
			</div>
			<div class="card">
				<img class="card__image"src="https://source.unsplash.com/category/nature/400x260" alt="Nature">
				<div class="card__copy">
					<h3 class="post-title">Comment faire face aux pensées négatives…</h3>
					<a href="#"><button class="read-more">EN SAVOIR PLUS</button></a>
				</div>
			</div>
			<div class="card">
				<img class="card__image"src="https://source.unsplash.com/category/food/400x260" alt="Nature">
				<div class="card__copy">
					<h3 class="post-title">Comment faire face aux pensées négatives…</h3>
					<a href="#"><button class="read-more">EN SAVOIR PLUS</button></a>
				</div>
			</div>
			<div class="card">
				<img class="card__image"src="https://source.unsplash.com/category/people/400x260" alt="Nature">
				<div class="card__copy">
					<h3 class="post-title">Comment faire face aux pensées négatives…</h3>
					<a href="#"><button class="read-more">EN SAVOIR PLUS</button></a>
				</div>
			</div>				
		</div>{# end container center #}
	</section>

	<section class="video">
		<div class="container-center">
			<div class="title-section w100">
				<h2 class="">Conseils d'ami</h2>
				<p class="subtitle">Pour vous rendre la vie plus légère, voici quelques conseils d'ami</p>
			</div>
			<div class="card-video">
				<iframe width="100%"  src="https://www.youtube.com/embed/aN9ZqoZ5LjU" frameborder="0" height="300px" controls="2" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="card-video">
				<iframe width="100%"  src="https://www.youtube.com/embed/aN9ZqoZ5LjU" frameborder="0"height="300px" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="card-video">
				<iframe width="100%"  src="https://www.youtube.com/embed/aN9ZqoZ5LjU" frameborder="0"height="300px" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			{# <button class="button buttonflex">YouTube</button>			 #}
		</div>{# end container center #}
	</section>

	<section class="coaching">
		<div class="container-center">
			<div class="card-coaching">
				<img class="coaching__image"src="https://source.unsplash.com/category/nature/400x260" alt="Nature">
				<div class="coaching__copy">
					<h3 class="post-title">Coaching en Entreprise</h3>
					<p>C’est donner aux dirigeants comme aux employés, la possibilité de progresser personnellement et faire bénéficier l’entreprise de cette évolution .C’est donner aux dirigeants comme aux employés, la possibilité de progresser personnellement et faire bénéficier l’entreprise de cette évolution .</p>
					<a href="#"><button class="read-more">EN SAVOIR PLUS</button></a>
				</div>
			</div>
			<div class="card-coaching">
				<img class="coaching__image"src="https://source.unsplash.com/category/food/400x260" alt="Nature">
				<div class="coaching__copy">
					<h3 class="post-title">Coaching Personnel</h3>
					<p>C’est un accompagnement concret, orienté vers l’écoute, la recherche de solutions et l’action. La personne agit concrétement en lien avec ses prises de conscience.C’est un accompagnement concret, orienté vers l’écoute, la recherche de solutions et l’action. La personne agit concrétement en lien avec ses prises de conscience.</p>
					<a href="#"><button class="read-more">EN SAVOIR PLUS</button></a>
				</div>
			</div>				
		</div>{# end container center #}
	</section>
	
	<section class="banner ">
		<div class="banner__image"></div>
		<div class="banner__copy">
			<div class="banner__copy__text">
				<h3>Banner Title</h3>
				<h4>Banner Subtitle</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas autem quam, explicabo pariatur sit nisi, adipisci saepe.</p>
			</div>
		</div>
	</section>

	<section class="cards ">
		<div class="card">
			<img class="card__image"src="https://source.unsplash.com/category/nature/400x260" alt="Nature">
			<div class="card__copy">
				<h3>Title Card</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis sequi incidunt optio, asperiores dolorum ratione excepturi. </p>
			</div>
		</div>
		<div class="card">
			<img class="card__image"src="https://source.unsplash.com/category/food/400x260" alt="Nature">
			<div class="card__copy">
				<h3>Title Card</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis sequi incidunt optio, asperiores dolorum ratione excepturi. </p>
			</div>
		</div>
		<div class="card">
			<img class="card__image"src="https://source.unsplash.com/category/people/400x260" alt="Nature">
			<div class="card__copy">
				<h3>Title Card</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis sequi incidunt optio, asperiores dolorum ratione excepturi. </p>
			</div>
		</div>
	</section>
	<section class="banner ">
		<div class="banner__copy">
			<div class="banner__copy__text">
				<h3>Banner Title</h3>
				<h4>Banner Subtitle</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas autem quam, explicabo pariatur sit nisi, adipisci saepe.</p>
			</div>
		</div>
		<div class="banner__image"></div>
	</section>
<footer class="footer">
	<p>Copyright - 2016</p>
</footer>


        {% block body %}{% endblock %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <script src="{{ absolute_url(asset('assets/js/script.js')) }}"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>