{% extends 'base.html.twig' %}

{% block title %}Zone membres{% endblock %}

{% block body %}

<h1>Zone membres</h1>

<p>{{ "Vous êtes connecté(e)\nBonjour, "| nl2br }} {{ app.user.username }}</p>

<iframe width="365" height="205" src="https://www.youtube.com/embed/4koivVkJagc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe width="365" height="205" src="https://www.youtube.com/embed/4J477Hp138Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe width="365" height="205" src="https://www.youtube.com/embed/RP44XV2Ov40" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{% endblock %}
