{% extends 'base.html.twig' %}

{% block title %}Liste des téléchargements{% endblock %}

{% block body %}
    <div class="container-fluid">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2">Liste des téléchargements</h1>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ebook in ebooks %}
            <tr>
                <td>{{ ebook.id }}</td>
                <td>{{ ebook.email }}</td>
                <td>
                    <a class="btn btn-primary my-1" href="{{ path('ebook_show', {'id': ebook.id}) }}">show</a>
                    <a class="btn btn-primary my-1" href="{{ path('ebook_edit', {'id': ebook.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        </main>
  </div>
</div> {# end container-fluid #}
{% endblock %}
